[2016-07-07 01:09] parthshah opened #1 "Allow copilots to view all un-claimed "active" projects"
Copilots should be able to see all projects that are in active state but don't have a co-pilot already assigned along with projects that they are members of.

[2016-07-07 20:16] parthshah opened #2 "Support file attachments"

[2016-07-07 21:59] parthshah opened #3 "Productionize project service - clustering"
https://ifelse.io/2015/09/02/running-node-js-apps-in-production/

[2016-07-13 15:45] parthshah opened #4 "Add member endpoint should return 400 response not 500"

[2016-07-14 20:59] parthshah opened #5 "Only assigned topcoder-managers should be allowed to launch a project"
Only project manager (user with manager role assigned) should be allowed to transition project status to 'active'. I think this can be handled by adding checks in update method.

[2016-07-16 15:28] parthshah opened #6 "Integrate activity feed"
Use getstream.io

[2016-07-16 15:37] parthshah opened #7 "Retrieve presigned download url for each attachment while retrieving projects"

[2016-07-18 15:47] parthshah opened #8 "Sync with direct project service"
- [ ] Create direct project when a new project is successfully created
- [ ] Add co-pilot when a co-pilot is added to a project
- [ ] Sync billing account id with direct

[2016-07-18 21:12] parthshah opened #9 "Auto-increment package.json version"

[2016-07-28 16:08] #2 closed

[2016-07-28 16:08] #4 closed

[2016-07-28 16:08] #7 closed

[2016-07-28 16:13] parthshah commented on #1
Co-pilots should be able to view projects *any* of the following conditions are met:
* they are registered active project members on the project
* any project that is in 'active' state *AND* does not yet have a co-pilot assigned.

[2016-07-28 16:20] parthshah commented on #8
I think this can be done as part of NodeJS event handling

[2016-08-03 17:52] parthshah opened #10 "Support editing project member roles & primary option"
Add a new endpoint - /v4/projects/{id}/members/{id}

Body:
`{
    "params": {
        "role": "copilot",
        "isPrimary": true
     }
}`

If another user is set as primary, they should no longer be primary.

[2016-08-03 18:07] parthshah commented on #8
@ajefts can you please provide api endpoints and sample request for each of these calls please

[2016-08-03 21:44] ajefts commented on #8
Here is the generated code from postman.  The service is returning a 502 in dev.  Do you remember how you had it setup?

**Create Project:**

var http = require("https");

var options = {
  "method": "POST",
  "hostname": "api.topcoder-dev.com",
  "port": null,
  "path": "/v3/direct/projects/",
  "headers": {
    "authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyb2xlcyI6WyJhZG1pbml

[2016-08-03 21:44] ajefts commented on #8
@parthshah

[2016-08-04 17:28] parthshah opened #11 "Manage salesforce leads when project is created / updated"
Integration points b/w connect & Salesforce CRM

1. When an project is created in connect,  a lead should be created in Salesforce CRM. Within the CRM the users will be added to a drip campaign

1. When a project is launched, the CRM should be notified so the project owner can be removed from the campaign

Some links that might be helpful: https://github.com/topcoderinc/appx_newcustomer/blob/devel

[2016-08-08 16:27] parthshah opened #12 "Return metadata structure even when there are zero results in GET All apis"

[2016-08-08 18:39] parthshah opened #13 "Project name suggestion API"

[2016-08-09 19:42] parthshah opened #14 "Support 'memberOnly' projects filter"

[2016-08-09 22:03] parthshah opened #15 "Support retrieving nested properties from project details in GET calls"

[2016-08-10 21:40] #14 closed

[2016-08-10 21:40] #12 closed

[2016-08-15 22:42] #1 closed

[2016-08-15 22:42] #5 closed

[2016-08-15 22:42] #8 closed

[2016-08-15 22:42] #10 closed

[2016-09-20 18:36] parthshah opened #18 "Project List should filter out cancelled / deleted projects by default."

[2016-09-21 15:11] #11 closed

[2016-09-28 17:57] parthshah opened #19 "Co-pilots should be able to see all un-assigned projects in 'reviewed' state."
Copilots can only see un-assigned projects in 'active' state right now.

see https://github.com/appirio-tech/connect-app/issues/60

[2016-09-28 18:07] #19 closed

[2016-09-29 01:40] fnisen commented on #18
@parthshah If you check out the status filters, I've had Luis add an "Open" status in there. It's a "derived" status that I'd like to use to show all projects except those that are Completed or Canceled. We can use the "Open" status as the default filter.

[2016-09-29 11:16] parthshah commented on #18
I think it's best to handle such derived status on the Client instead of the API layer.

[2016-09-29 16:41] fnisen commented on #18
Sure, implementation is up to you. You killed the original issue in connect-app, so this is the only place I could comment. : )

[2016-09-30 13:43] parthshah opened #20 "Add consumer to post initial project status updates"
* Post default topics as soon as projects are created.
* Post spec completed message when specification is completed.

[2016-09-30 20:31] #20 closed

[2016-10-04 21:43] parthshah opened #21 "Project status can be changed from cancelled to any other state."
Dont restrict project updates based on status.

[2016-10-04 21:52] parthshah opened #22 "Support sorting on Id"

[2016-10-05 00:27] #21 closed

[2016-10-05 00:27] #22 closed

[2016-10-19 23:44] parthshah opened #23 "Fix copy for post project creation status message"

[2016-10-19 23:45] parthshah opened #24 "Download link not returned after adding attachment"
DownloadUrl link is not being returned correctly in attachment creation API endpoint.

[2016-10-19 23:47] #23 closed, assigned to parthshah

[2016-10-19 23:47] #24 closed, assigned to parthshah

[2017-01-20 18:42] parthshah opened #32 "Search keyword across multiple of project fields"
Enable keyword search across - name, description, project type, member/owner -email, userId, name, etc.

[2017-01-26 00:34] parthshah opened #33 "New Project Submission Status"
We need the ability to have new projects that are submitted start in a status where only operations can view them.

This will allow us to:
~ Validate the project before a copilot is assigned
~ Directly assign to a copilot (in special cases)
~ Make powered by teams aware of the project
~ Delete or remove test or junk projects

[2017-01-26 00:39] parthshah opened #34 "Sync team managers from Connect to Direct"
1. When a manager is added to Connect Project
     * Subscribe to project.member.added event (already done)
     * Retrieve system user token (getSystemUserToken() call)
     * Call direct service to add manager user.
         url: {API_BASE}/v3/direct/projects/{directProjectId}/permissions
         method: POST
         data:
[code]
2. When a manager is removed from a Connect Project
     * Subsc

[2017-01-26 01:03] #6 closed

[2017-01-26 01:03] #3 closed

[2017-01-26 14:50] parthshah commented on #34
➤ Tony commented:
The add permission is right.  For removing, leave the permissionTypeId empty and that will remove them.  FireIce is making a more explicit endpoint for the remove function, but that should work for now.

[2017-01-26 18:16] parthshah commented on #34
➤ Parth commented:
Ah, that makes a little more sense. Thanks for the clarification. So, leave it blank as in an empty string or null?
Should we wait for the new remove endpoint before we launch this task?

[2017-01-26 18:25] parthshah commented on #34
➤ Tony commented:
empty string.  We'll keep it backward compatible, so I'd probably go ahead and run with it.  We can retro fit once the new endpoint is there.  Chinese New Year starts next week so we might not get a ton of activity on that one next week...

[2017-01-26 19:51] parthshah opened #35 "Remove project created messages from project service"
Now that connect notifications are being handled by tc-connect-notifications, we should disable creating similar discourse topic posts from tc-project-service

[2017-02-01 18:03] parthshah opened #36 "Improve test coverage"

[2017-02-01 18:05] parthshah commented on #18
I believe this issue has since been resolved. Please re-open if you think otherwise.

[2017-02-01 18:05] #18 closed

[2017-02-01 18:06] parthshah commented on #9
Package / microservice should use semantic versioning and should be changed manually before releases.

[2017-02-01 18:06] #9 closed

[2017-02-01 18:07] parthshah commented on #33
@fnisen - is this still valid?

[2017-02-01 18:09] parthshah opened #37 "Keep history of project state transitions"
Add project history table to track project state transitions. Records should be added only if the project state was changed.
Please include the following fields :
* project Id
* status
* updatedAt
* updatedBy
* cancelReason (new field)

[2017-02-01 18:28] #35 closed

[2017-02-01 18:33] parthshah opened #38 "Temporarily disable salesforce integration"
Disabling salesforce integration for now, until we figure out SFDC account details.
fyi - @vikasrohit @fnisen

[2017-02-01 20:07] #38 closed

[2017-02-07 17:59] parthshah opened #39 "Instrument code for analytics data tracing"
Track data through Segment.io

[2017-02-08 01:13] fnisen commented on #33
@parthshah where is this issue coming from? Is this an old one from Asana? I can't find the original source.

I don't think this is valid anymore. We fixed it by introducing the "In Review" status in Project v4.

[2017-02-08 01:15] fnisen commented on #18
@parthshah there is no option to re-open, only Comment. This one is still an open issue, and actually the Open status is not working right now: https://github.com/appirio-tech/connect-app/issues/618. I'd like it to be the default status, instead of "All Statuses."

[2017-02-08 09:22] vikasrohit opened #40 "Support IN query with project status filter"
To fix the issue https://github.com/appirio-tech/connect-app/issues/618, we need to support IN query in status filter.
fyi, @parthshah

[2017-02-08 09:27] vikasrohit commented on #40
@parthshah I have the changes ready for this issue, however, I am not able to push the changes to github. It seems my permissions are downgraded with topcoder-platform org.

[2017-02-10 19:04] parthshah opened #41 "Update swagger.yml to match latest API"

[2017-02-13 05:49] #40 closed

[2017-02-14 22:51] parthshah opened #43 "When a primary co-pilot is removed, make the 'next' copilot as primary if one is added."
fyi - @fnisen

[2017-02-15 18:10] #39 closed

[2017-02-15 18:11] parthshah commented on #33
Yep, it's an old issue that was logged in Asana.

[2017-02-15 18:11] #33 closed

[2017-02-16 17:04] fnisen commented on #32
@parthshah so, this is to support search across every Connect project element, correct? That's great. We'll just need to later think about how we surface the results in the UI.

[2017-02-16 17:11] fnisen opened #44 "Add support for reason for project cancelation"
When a project is being canceled/closed, we'd like to add a disposition field to explain what happened. Possible options: 1) spam 2) demo/test 3) went with competitor 4) price/cost 5) not a good fit for community 6) declined by our choice 7) customer didn't make decision/never heard back 8) customer decided to do it themselves

![pasted image at 2017_02_15 02_03 pm](https://cloud.githubusercontent

[2017-02-27 06:00] vikasrohit commented on #44
@parthshah we can store the cancellation reason at root level of the project json, right? or do you think it makes sense to store it in details field JSON?

[2017-02-27 09:58] vikasrohit commented on #44
On the contrary to what I have said above, I have made changes in the front end, without altering the project service, to allow setting the reason of cancellation. For now I have stored the reason of status changes in `details` JSON, rationale being that essentially  it is the `detail` of the status changes. Further, I have taken the liberty to support track multiple status changes as well. These

[2017-02-27 23:34] fnisen commented on #44
Thanks @vikasrohit. @parthshah please weigh in b/c I think you were already making some API changes to be able to track status changes. Also, I think we've instrumented project service to focus on the API, so having this on the front end may mean we can't reliably pull in the data. Finally, the reason is applicable mostly for cancellation. If a project moves phases in other cases, there's usually

[2017-02-28 05:00] vikasrohit commented on #44
@fnisen I guess we should ask a reason for project deletion as well.

[2017-03-01 03:16] fnisen commented on #44
@vikasrohit good idea, but I think it's not critical. Deletion is supposed to be for when you're experimenting with project creation, so we can assume for now the user was not serious about the project.

[2017-03-01 04:31] parthshah commented on #44
@vikasrohit nice thought on using details field. Sorry I missed your earlier post. I'm running a challenge to add cancellation reason At the root level along side status. For status history tracking, you don't want to burden the client with tracking history. Besides we shouldn't trust the client to do it right. This is definitely a service concern and should be done server side. I'm not planning o

[2017-03-01 04:32] parthshah commented on #44
I should have the changes in dev by Thursday eod.

[2017-03-01 06:06] vikasrohit commented on #44
Okay. Thanks @parthshah That means I have just update my changes to update the change reason at root level instead of details json. Right?

[2017-03-01 06:59] vikasrohit commented on #44
One more thing, the new field would be used to store reason of the cancellation of the project or reason for the last status change? I am asking this to ensure if we are going support the project deletion reason in future.

[2017-03-01 16:46] fnisen commented on #44
@parthshah - we don't need history of status changes in the FE right now. I could see it coming in handy in the future, for example with an admin tool or timeline feature. But, I think no need to build it just in case, if it's easy enough to make the change later.
@vikasrohit - I'm pretty sure we won't need the reason per status change, but I guess you can include it for maximum flexibility. Proba

[2017-03-01 16:50] parthshah commented on #44
Field is called 'cancelReason' but can be used for delete action as well
On Tue, Feb 28, 2017 at 10:59 PM vikasrohit <notifications@github.com>
wrote:

[2017-03-02 07:07] vikasrohit commented on #44
Thanks @parthshah for the update. Is it deployed to dev?

[2017-03-02 13:53] parthshah commented on #44
Not yet but hope to have it deployed today
On Wed, Mar 1, 2017 at 11:07 PM vikasrohit <notifications@github.com> wrote:

[2017-03-06 20:23] #34 closed

[2017-03-06 20:23] #37 closed

[2017-03-06 20:23] #43 closed

[2017-03-07 05:53] vikasrohit commented on #44
Deployed and tested on dev. @fnisen @vic-topcoder Please let me know if you find any style issues with the changes.

[2017-03-07 05:53] #44 closed

[2017-03-07 19:19] fnisen commented on #44
@vikasrohit - two notes:
1. The dropdown is initially set to "spam" and if I hit Cancel Project without changing the reason, I get an error. Can you please set the default to be blank, so it's clear that a reason needs to be selected?
2. Also, some copy changes:
- Post-title description: "This action will permanently change the status of your project and cannot be undone." (reword and add "of")
-

[2017-03-09 10:13] vikasrohit commented on #44
PR https://github.com/appirio-tech/connect-app/pull/746 created for this but waiting for the bug hunt to finish before getting it merged.

[2017-03-09 18:28] fnisen commented on #44
@vikasrohit I think you can merge this one now because it's out of scope for the bug hunt.

[2017-03-09 20:34] #41 closed

[2017-03-09 20:34] #36 closed

[2017-03-13 04:02] vikasrohit commented on #44
Merged.

[2017-03-14 15:19] parthshah opened #50 "Description field should be optional"
Allow null and empty values in project description field.
fyi @fnisen @vikasrohit

[2017-03-14 15:19] #50 closed

[2017-04-03 19:36] #32 closed

[2017-04-04 17:14] parthshah opened #53 "Keyword search enhancements"
* handle special characters
* add 'best match' sort option
* boost results for project name match

[2017-04-05 01:21] parthshah opened #54 "Make directProjectId editable by admins and managers"

[2017-04-05 01:22] #53 closed

[2017-04-05 01:22] #54 closed

[2018-05-28 08:57] vikasrohit opened #85 "Create default topic for each phase created in a project"
We need to create a new topic for every new phase created in a project.

1. We would utilize the existing topic creation api for creating the new topic.
2. We have to use string literal 'phase' as `reference` and 'phase#<phase_id>' as `referenceId` for the topic. For the title of the topic, we can use the name of the phase.
3. We have to ensure that no phase can ever gate two topics created for it

[2018-05-28 09:09] vikasrohit opened #86 "Update project creation endpoint to create phases and products based on project template specified in the payload"
We have to create default phases and products as per the specified project template id in the project creation endpoint. Following are the key points:

1. Update `POST /v4/projects` endpoint to create phases and products as per the template specified in POST body as `projectTemplateId` param. Store the project template id in a new field(`projectTemplateId`) in the project table.
2. Project templat

[2018-05-28 09:21] vikasrohit opened #87 "New model for storing project types in the database"
Till date we are maintaining the project types (aka categories) in JSON mapping in each project we need it. Now we are moving it to the database to make all services independent of keeping them in sync for this JSON mapping.

Requirements:

1. New model ProjectType backed by table `project_types` with only two fields `key` and `displayName`
2. Simple CRUD operations on top of it
    1. GET /v4/pro

[2018-05-30 17:41] ngoctay commented on #86
@vikasrohit @coderReview
Currently `phases` is an object, not array of objects.
I can change it to accept both object and array of objects.
However, in PATCH /projectTemplates/{templateId}, we need to merge this JSON field.
If `phases` is an array, there's no way to merge it: we don't know that we need to replace an existing array item or add a new items. We also can't remove a phase from the arra

[2018-05-30 17:48] ngoctay commented on #87
@vikasrohit @coderReview

`key` will be something like app_dev, generic, visual_prototype, visual_design, website, app, quality_assurance, or chatbot. Right?

[2018-05-31 01:34] coderReview commented on #86
@ngoctay why is there any issue using array with patch? following previous requirements array is always replaced by new array during PATCH operation.

[2018-05-31 01:35] coderReview commented on #87
@ngoctay I think key can be any string. I don't we have to limit it.

[2018-05-31 02:22] vikasrohit commented on #87
Yes, those are currently possible values, but this table is a look up
table, so we don't have to limit the values.

On May 31, 2018 7:05 AM, "Paulo Vitor Magacho" <notifications@github.com>
wrote:

[2018-05-31 02:31] vikasrohit commented on #86
I am okay with suggested structure as well, as it just moves the actual
phases array in a field of the parent object. We kept phases as object so
that we can add more info in future to the object.

Paulo, we just need to make sure that our upgrade(migration) endpoint also
uses the phases object in same way. Btw, does the dev-challenges branch
contains the migration challenge output?

On May 31, 20

[2018-05-31 04:36] ngoctay commented on #86
For `products`, I have some questions:

[code]

1. Will we use this `id` to create new record in phase_products table? I mean that we will set the `phase_products.id` manually instead of using the PK auto-increment. Just wanted to double check because I don't quite understand why we need to set a fixed `id` here because if so, we can't re-use the project_template for creating another project.

2.

[2018-05-31 06:57] vikasrohit commented on #86
1. No, this id would be used to set `templateId` field of the `phase_products` table. `phase_products.id` would be auto incremented.
2. Yes, right now we are not using productKey field directly in `phase_products` table. This is kept to make the json more human readable and as future possibilities to say only `productKey` in the this json and we would search for the latest version of the `product_

[2018-05-31 19:56] ngoctay commented on #87
I made PR. Please help to review.

https://github.com/topcoder-platform/tc-project-service/pull/88

[2018-05-31 19:58] coderReview commented on #87
@ngoctay will look into this. Thanks

[2018-05-31 20:01] ngoctay commented on #87
I still added this endpoint. Please let me know if I need to remove it.

[2018-06-01 03:09] vikasrohit commented on #87
Thanks ngoctay for coming back in 48 hours. Let's keep that endpoint as
well. We will take care of it internally.

On Jun 1, 2018 1:31 AM, "ngoctay" <notifications@github.com> wrote:

I still added this endpoint. Please let me know if I need to remove it.

2. GET /v4/projectTypes/{key} to fetch specific project type details

—
You are receiving this because you were mentioned.
Reply to this email

[2018-06-27 18:58] gondzo opened #102 "Local test data"
It would be really helpful to have test data for project templates/phases/products that is identical to what we have in dev env. Right now it is really complex to create projects in local environment. Postman calls aren't helpful either.

What we need here is a simple script that will create the test data and update to the README.
Do we have something like this @RishiRajSahu @vikasrohit ?

[2018-06-28 06:10] vikasrohit commented on #102
I don't think we have that yet, it would definitely be a good asset to have such script for future work. @gondzo do you think you would be able to get it done by copying a sample out of current dev templates?

[2018-07-09 13:15] gondzo opened #105 "Error message for copilots"
When fetching projects as a copilot user service returns 403 if copilot is not a member and project is not in reviewed status. We should also return an error message saying `This project is not yet reviewed. Once it is available for pickup you will be able to view and join it.` if status is Draft or InReview, or `Another copilot is already assigned to this project` if status is Active, Completed,

[2018-07-10 11:46] gondzo commented on #102
Yup, current dev templates would be really helpful.
Since we have migrations already configured, we can just add another migration that sets up test data.
Can you make a backup of dev db and we can create the migration script in a private task ?
This should also make it easy to sync dev and prod templates without manually adding them via postman calls.

[2018-07-10 13:46] #105 closed

[2018-07-12 10:18] vikasrohit opened #107 "Add categories model for products"
This is to support https://github.com/appirio-tech/connect-app/issues/2139.

[2018-07-12 10:58] vikasrohit opened #108 "Need new endpoint for creating timeline and milestones together"
As of now we have separate endpoints for creating timeline and milestone entities which becomes very time consuming when front end tries to create a timeline for an entity e.g. when we are trying to create timeline for a project phase, we have all milestone templates but when we want to create a timeline using those templates, we have to send one request for creating timeline object and then send

[2018-07-12 11:00] vikasrohit commented on #87
Closing as it is finished.

[2018-07-12 11:00] #87 closed

[2018-07-12 11:11] vikasrohit commented on #86
Closing as it is done and deployed to prod.

[2018-07-12 11:11] #86 closed

[2018-07-12 11:12] vikasrohit commented on #85
Done and deployed to production.

[2018-07-12 11:12] #85 closed

[2018-07-12 11:18] vikasrohit opened #109 "Versioning of templates"
We need to think about version of templates and provide the ability to support multiple version of each template.

Updates:

We can achieve minimal versioning by following changes:
1. Add a new field called `version` to the `projectTemplate` and `productTemplate` models
2. Make the combination of `key` and `version` fields to be unique i.e. there can exists only one template per version per templa

[2018-07-12 13:28] coderReview commented on #107
Hello @vikasrohit is the category model already define in the app or we need to create it? If we need to create it what is the schema?

Thanks

[2018-07-16 07:19] vikasrohit commented on #107
@coderReview we have the category model for project only, I mean we have the table `project_types` for managing the category of the projects which is right now we are using for categorizing the project templates as well. However, we can not use that for product templates as we are expecting different set of categories for the product templates. So, we have two options:
1. Add a new field in existi

[2018-07-16 11:43] vikasrohit opened #111 "Add support for hiding milestones from timline"
We have a use case where we have to dynamically render the milestones in connect app which requires the backend to provide capability of hiding a particular milestone from timeline and unhide it back when required.
We would add a new field `hidden` to the `milestone` and `milestoneTemplate` models to support his use case.

fyi @RishiRajSahu @rmjmccormick

[2018-07-17 08:18] vikasrohit commented on #111
Done and deployed to the dev. fyi @RishiRajSahu

[2018-07-17 08:18] #111 closed

[2018-07-18 20:36] gondzo commented on #102
OK, we can work with backups for template tables only, we don't need project tables and the script would be separate from the migrations script

[2018-07-21 09:53] maxceem opened #116 "Not all milestones are returned with `/v4/timelines/ID/milestones` and `/v4/timelines?filter=...`"
- If we create a timeline with two milestones and then get it by the endpoint `/v4/timelines/id`, we will get both two milestones inside the timeline object

   `/v4/timelines/9`:
   ![image](https://user-images.githubusercontent.com/146016/43034392-148ed80e-8d0e-11e8-8fd2-d3ae67a5d21d.png)

- but if get the same timeline using filter by reference/referenceId, we will get only one milestone, not t

[2018-07-21 11:49] maxceem opened #117 "Cannot update `endDate` and `completionDate` of milestone."
When try to update `endDate` or`completionDate` of a milestone get validation error:
[code]

For example, `PATCH /v4/timelines/20/milestones/19` with the next body:
[code]
Returns the error above. Same if try to update `completionDate`.

[2018-07-22 04:21] maxceem opened #118 "Error when creating milestones in parallel"
During project creation in connect-app we create a timeline, and after, create several milestones for the timeline. To make it work faster, milestones for the timeline are created in parallel.

When there are 5 milestones for one timeline are being created in parallel, 4 of them are created successfully, while during creation of the 5th one server respsond with the next error
[code]

This issue ma

[2018-07-22 09:26] maxceem opened #119 "GET /v4/timelines returns 500 for non-manger users"
If we call `GET /v4/timelines` endpoint with any params using `pshah_customer` user, we will get error
[code]

![image](https://user-images.githubusercontent.com/146016/43044181-3e0c77a6-8dd4-11e8-8ec9-8a0b643e5c5b.png)

[2018-07-22 09:37] maxceem opened #120 "Customer cannot create timelines and milestones"
Customers can create new projects in connect-app. During the creation of a new project connect-app also creates a new timeline and milestones. But customer user `pshah_customer` cannot create timelines and milestones

Server returns error 403:
[code]

Timelines:
![image](https://user-images.githubusercontent.com/146016/43044169-070c6810-8dd4-11e8-98a4-966e8ff402a8.png)

Milestones:
![image](https:

[2018-07-22 10:21] maxceem opened #121 "Support product reference for timelines"
Currently, timelines endpoint supports only `phase` and `project` to be a reference.

For connect-app we need to create timelines per product. But if we try to create a timeline with
`reference=product` and `referenceId=<productId>` we will get a validation error from the server:
[code]

[2018-07-22 12:49] vikasrohit commented on #121
It should have fixed already by https://github.com/topcoder-platform/tc-project-service/commit/4019c1d7fb912861684ecc2a701f3fe8cd515981, let me know if it is still not working.

[2018-07-22 13:10] vikasrohit commented on #120
@maxceem I think it would allow customer to create timeline, provided that the customer is the part of the team of the project. Please try creating a project using pshah_customer and then try to add timeline using the same user. It should work theoretically, if not it must be a bug.

[2018-07-22 14:30] maxceem commented on #121
@vikasrohit you are right it already works. So I'm closing this issue.

[2018-07-22 14:30] #121 closed

[2018-07-22 14:41] maxceem commented on #120
@vikasrohit yeah, it doesn't work for the projects, created by the `pshah_customer.

For example project http://local.topcoder-dev.com:3000/projects/6668

Product 666 belong to the project 6668:
![image](https://user-images.githubusercontent.com/146016/43046757-58130896-8e00-11e8-9fc1-7f0711d67752.png)

I try to make `POST https://api.topcoder-dev.com/v4/timelines` with the next data:
[code]

Serv

[2018-07-23 09:02] vikasrohit commented on #120
Fixed. It should be working now, hopefully. :)

[2018-07-23 11:29] vikasrohit commented on #119
@maxceem it should be fixed now. I have made `reference` and `referenceId` fields required for GET /v4/timelines as it does not make sense to get timelines without these two fields. And our current use case would return only one timeline per `reference` and `referenceId` combination. Let me know if you think we have use case where these two filters should not be marked as required.

[2018-07-23 11:41] maxceem commented on #119
@vikasrohit I think making them required makes sense. I didn't see any cases where we need to make a common request.

In this issue, I didn't highlighted it clear, that the main thing was, that I get this error, no matter what params I use. Even if I define `reference` and `referenceId` it works good for a manager, but returns the error `[too_many_clauses] maxClauseCount is set to 1024` for a cust

[2018-07-23 12:18] vikasrohit commented on #119
IMO, it should fix it for every one because now it narrows the option of possible referenceId to be 1.

[2018-07-23 13:37] maxceem commented on #119
Customer user still gets this error when he passes both `reference` and `referenceId`

For example: `/v4/timelines?filter=reference%3Dproduct%26referenceId%3D693` - request timelines of the product of the project which belongs to a customer.
Server returns:
[code]

When a customer doesn't pass any of `reference` or `referenceId` he gets `Please provide reference and referenceId filter parameters`

[2018-07-24 05:06] vikasrohit commented on #117
This is fixed @maxceem. Let me know if it is still not working for you.

[2018-07-24 09:21] vikasrohit opened #122 "startDate and endDate should be optional while creating timeline/milestone"
As of now setting startDate and endDate are mandatory while creating a timeline or milestone. This makes timeline dates inconsistent with the parent phase/product because we are not setting startDate of a phase when it is created. So, we should allow skipping dates field at the time of creation and set the status of the milestones to be draft.

fyi @RishiRajSahu

[2018-07-24 09:51] vikasrohit commented on #122
As discusses @RishiRajSahu, not implementing it for now as we are treating timeline module independent and don't want to change its implementation based on project module unless it is logical change to have in timeline or we don't have any alternative in calling module (which is project right now).
For handling null startDate on phase, we can simply don't read values from the timeline and mileston

[2018-07-24 09:51] #122 closed

[2018-07-24 09:57] vikasrohit commented on #108
Implemented the functionality by reading the `templateId` instead of reading the milestones in the request body. This would make things consistent with the way we are handling project and phases.

[2018-07-24 09:57] #108 closed

[2018-07-24 10:05] vikasrohit commented on #118
#108 is implemented, so we do not need to create milestones in parallel. However, we do need to investigate the error because it can occur when there are two projects created at the exact same time, we might see similar issue at that time. May be we should increase the lock wait time to improve the threshold.

[2018-07-24 12:30] vikasrohit commented on #120
Although, we might not need to create individual milestones now, fixed the issue with permission check.

[2018-07-24 12:51] gondzo commented on #119
This is only for pshah_customer user as he is the only customer user with more than 1024 projects. It's not an issue with other users. I don't think we need to fix this at the moment - we don't have customer/copilot users with such large number of projects.

[2018-07-24 16:50] vikasrohit opened #123 "Move `validateTimelineIdParam` and `validateTimelineRequestBody` to middlewares"
We should refactor the two middleware methods, which right now resides in `util.js`, to middlewares folder. Also, we need to refactor the common code between the two methods, right now we have to make changes in both methods, if have to add a new possible type for `reference` field.

[2018-07-24 18:42] coderReview commented on #107
**Scope:**

a) Add product category model with creation SQL

b) simple crud on the model (following permission model of projectType model)

c) swagger/postman updates.

d) unit tests

[2018-07-25 05:20] vikasrohit opened #124 "Add category to the productTemplates"
Once we have #107 completed, we need to add a new field `category` in `productTemplate` model. It should be a required field while creating a new category.
Unit tests needed to be updated
Swagger and postman docs should reflect the new field

fyi @coderReview

[2018-07-25 05:24] vikasrohit opened #125 "Validate category fields in projectTemplate and productTemplate endpoints"
As of now, we have a category field in `projectTemplate` model and after completion of #124 we would have the similar field for `productTemplate`. Purpose of this ticket is to validate these fields from there respective lookup tables which are `project_types` and `product_categories` respectively.

fyi @coderReview

[2018-07-25 06:55] #120 closed

[2018-07-25 10:18] vikasrohit opened #126 "[$40] Update PATCH timeline endpoint to update dates of milestones"
When user is updating the start date of a timeline using the `PATCH /v4/timeline/123` endpoint, it should also update dates(startDate and endDate) of all milestones for that timeline. It should start the first milestone (identified via `order=1`) with timelines start date and calculate end date of that milestone using duration and update the subsequent milestones in the same way.

fyi @coderReview

[2018-07-25 12:21] vikasrohit opened #127 "[$60] Updating a milestone's date/duration should update the dates of subsequent milestones"
As of now, when startDate/endDate/completionDate or duration is updated, we are not cascading the effect to upcoming milestones. Purpose of this ticket is to update the `startDate` and `endDate` of subsequent milestones when we receive call to update `startDate`/`endDate`/`completionDate`/`duration` of any milestone.

fyi @RishiRajSahu @coderReview

**UPDATE**
It should throw error (422), when the

[2018-07-25 16:52] gondzo commented on #118
Similar issue is present in GET /projects/{projectId}/phases/{phaseId} when running tests on CI
https://circleci.com/gh/topcoder-platform/tc-project-service/714

[2018-07-25 17:36] coderReview commented on #119
@vikasrohit I think here we might need to check how the query is being done to avoid such issues.

[2018-07-26 06:08] vikasrohit commented on #119
Yes, @coderReview. Ideally, it should not look for all projects of a user, after making the reference and referenceId fields compulsory for the call.

[2018-07-26 07:10] vikasrohit opened #128 "[$120] Project should be soft deleted"
As of now we are hard deleting the project while other entities in the same service are being soft deleted. We need to make sure that we are making soft delete for the projects as well.

Please check and fix if any other entity is still being hard deleted in the service.

fyi @coderReview

[2018-07-26 09:00] vikasrohit commented on #118
@coderReview I have committed few changes for fixing this as it was causing issues with the front end development. We may use this issue, as part of the challenge, to verify that the issue no longer there.

[2018-07-26 09:00] vikasrohit commented on #118
@gondzo I have tried to fix the issue with phases and other models as well. Basically, we were returning the HTTP response before committing the transaction. That might have been taking the time which is causing other calls to  fail.

[2018-07-26 11:52] vikasrohit opened #129 "[$100] Need new endpoint to copy milestone templates from one template to another"
**New endpoint** : POST /v4/productTemplates/{templateId}/milestones/clone
**Payload**:
[code]
It should clone all the template from template identified by `sourceTemplateId` to the template identified by `templateId`.

**Deliverables**: PR with following changes
1. Updated source code
2. Unit tests for the new endpoint
3. Updated Swagger doc
4. Updated Postman collection

fyi @coderReview @RishiR

[2018-07-27 04:43] RishiRajSahu opened #130 "[$40] Setting StartDate for default and explicitly added phases"
Currently, we don't set start date of a phase during creation. We need to persist start date as well during creation of phase whether its default phase for a project or its a newly added phase.

fyi @vikasrohit @rmjmccormick @acshields

**Requirements**:
1. Update `POST /v4/projects` endpoint to set the current date as phase `startDate` and set the `endDate` as `startDate + duration`.
2. Update un

[2018-07-27 09:01] vikasrohit commented on #130
@RishiRajSahu we won't need to update the `add phase` endpoint because at that its the caller who sends the data for the phase, so caller can send the dates as required.

[2018-07-27 12:24] gondzo opened #131 "[$40] Add new file url to bus api event"
Bus event for uploaded files should contain the file url. Url format is `https://connect.topcoder.com/projects/{projectId}/attachments/{attachmentId}`. Domain should be read from config (topcoder.com or topcoder-dev.com)

chenge should be made at https://github.com/topcoder-platform/tc-project-service/blob/1602c6c53686642b8d08dc440b1a825bb4b60e63/src/events/busApi.js#L170

[2018-07-27 12:26] gondzo opened #132 "[$40] Project event links in bus event"
All project related bus events should contain the connect project url. Url format is https://connect.topcoder.com/projects/{projectId}. Domain should be read from config (topcoder.com or topcoder-dev.com)

change should be made at https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/busApi.js

[2018-07-27 17:40] coderReview opened #133 "[$60] Postman clean up and seed fix"
## Postman

- Remove unnecessary endpoints in `Timeline` folder because of #119 changes.

- Fix ProjectType error in create

- Fix ProductTemplate error in create

- Move tests under issueXX to correct folder. If unnecessary remove

- Organize the rest of folder and make sure all testing are working properly

## Seed fix

- Fix the command `npm run seed`

[2018-07-27 17:56] coderReview commented on #128
All these entities are doing hard delete:

[code]

We need to update to do soft delete and remove them from get and list.

please confirm @vikasrohit

[2018-07-28 00:17] coderReview opened #134 "[$40] Move type validation in POST/PATCH for Project to middleware"
After #125 a new middleware was created.

We need to use this middleware to validate `type` property when creating and updating `Project`.

[2018-07-28 01:19] morehappiness commented on #128
how to assign to me?

[2018-07-28 01:52] coderReview commented on #128
@morehappiness Just remove open-for-pickup and assign yourself to issue. You should have access now

[2018-07-28 01:57] coderReview commented on #128
Fixed permission

[2018-07-28 02:01] morehappiness commented on #128
@coderReview I still can not do anything

[2018-07-28 02:09] coderReview commented on #128
have you accepted the invitation

[2018-07-28 02:09] architectt1 commented on #134
https://github.com/topcoder-platform/tc-project-service/pull/135

[2018-07-28 02:10] coderReview commented on #128
do you want to fix this issue?  I can assign it to you in the meantime

[2018-07-28 02:12] morehappiness commented on #128
Yes please

[2018-07-28 02:13] coderReview commented on #128
Fixed?

[2018-07-28 02:13] morehappiness commented on #128
Yes. I forgot to accept the invitation.

[2018-07-28 02:17] coderReview commented on #128
A good example of soft delete is `phases` and `phaseProducts`

[2018-07-28 02:17] morehappiness commented on #128
thanks

[2018-07-28 02:18] coderReview commented on #128
@morehappiness please don't do soft delete for `projectType` and `projectCategory`.

[2018-07-28 02:18] coderReview commented on #128
Update my comment above

[2018-07-28 02:40] architectt1 commented on #132
https://github.com/topcoder-platform/tc-project-service/pull/136

[2018-07-28 02:52] architectt1 commented on #131
https://github.com/topcoder-platform/tc-project-service/pull/137

[2018-07-28 03:04] mhikeo commented on #129
Hi. I cannot assign it to myself yet but I'm taking this up. Thanks.

[2018-07-28 03:09] coderReview commented on #128
@morehappiness please check if the model is set to paranoid true. If yes no change is needed.

[2018-07-28 03:09] coderReview commented on #128
I think only project is not soft delete.

[2018-07-28 03:18] coderReview commented on #128
Please update the unit test to validate that the record is not deleted from db (do a find using paranoid: false). Let me know if you have any doubts.

[2018-07-28 03:33] architectt1 commented on #130
https://github.com/topcoder-platform/tc-project-service/pull/138

[2018-07-28 03:43] architectt1 commented on #126
@coderReview @vikasrohit Are milestones of a given timeline supposed to be one after the other? for example:

* Milestone 1: day 1-3.
* Milestone 2: day 4-7.
* Milestone 3: day 8-10.

And given this example, would change the `startDate` of the timeline to day 5 make the above:

* Milestone 1: day 5-7.
* Milestone 2: day 8-11.
* Milestone 3: day 12-14.

?

(I know these are actually dates, but I'm

[2018-07-28 03:51] architectt1 commented on #126
Answering to myself, I believe this is correct, as there's some code doing exactly that when creating milestones from `ProductMilestoneTemplate` records.

[2018-07-28 04:01] vikasrohit commented on #126
Correct. Our backend should always ensure that milestones dates are in sync as per their `order`.

[2018-07-28 04:07] vikasrohit commented on #125
@coderReview has this been accidentally reopened?

[2018-07-28 04:08] architectt1 commented on #126
Got it. One thing I'm going to rely on is in that the data is correct in the database. For example there might be milestones that step into each other. I.e.

* Milestone 1: day 5-7.
* Milestone 2: day 6-8.
* Milestone 3: day 7-10.

For all cases I'm just going to add the timeline difference to the start date, and then set the end date to be milestone start date + milestone duration. I believe this

[2018-07-28 04:10] coderReview commented on #125
yes, sorry

[2018-07-28 04:11] coderReview commented on #125
I will close all fixed issues.

[2018-07-28 04:11] #107 closed

[2018-07-28 04:11] #116 closed

[2018-07-28 04:11] #118 closed

[2018-07-28 04:11] #119 closed

[2018-07-28 04:11] #123 closed

[2018-07-28 04:11] #124 closed

[2018-07-28 04:11] #125 closed

[2018-07-28 04:12] architectt1 commented on #126
Hmm actually because of a test I saw, even if a milestone has a startDate and a duration, it can have an end date not set. Apparently this should stay as that, so in those scenarios I'll just update the startDate.

[2018-07-28 04:30] architectt1 commented on #126
Do you mean the dates stepping into each other, or the null endDate, or both? the endDate column is marked as nullable in the database. Maybe I should always set the endDate, even when null (= startDate + duration)?

[2018-07-28 04:38] vikasrohit commented on #126
Right now I can not collect any use case of having null `endDate`, Yes please, set `endDate` even if it is null.

[2018-07-28 05:05] architectt1 commented on #126
https://github.com/topcoder-platform/tc-project-service/pull/139

[2018-07-28 05:21] vikasrohit opened #140 "[$30] GET /v4/projects endpoint always returns the attachments data"
[list.js](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projects/list.js#L137) should not return attachments data if not requested as [list-db.js](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projects/list-db.js#L61) is doing.

Should update the unit tests accordingly.

[2018-07-28 05:55] simranb86 commented on #133
Hi Can you assign this to me and proivide me access to repo ?

[2018-07-28 05:59] vikasrohit commented on #127
@architectt1 Yes, your assumption is correct in the first para. Thanks for catching that. I missed to consider the scenario when `completionDate` is set for a milestone.

Your point is valid for order change of milestone as well. I am not sure if we are going to use the order change feature ever but we kept it for the sake of comprehensiveness. If we can update the dates of the milestones when the

[2018-07-28 05:59] simranb86 commented on #133
Ok i see i hav rights to repo - please assign me when you get online as i cannot assign myself.

FYI all -I am starting work on this.

[2018-07-28 06:01] simranb86 commented on #133
@coderReview please assign me when you get online

[2018-07-28 06:01] simranb86 commented on #133
Thanks @vikasrohit

[2018-07-28 07:03] vikasrohit commented on #140
Please accept the invitation, once done I will assign you.

[2018-07-28 07:04] narekcat commented on #140
@vikasrohit I accepted the invitation, thank you.

[2018-07-28 08:54] morehappiness commented on #128
does the soft delete operation appy to all the entities?  Or projectType and projectCategory exclusive as from your previous comment?

[2018-07-28 11:35] morehappiness commented on #128
@coderReview any reply?

[2018-07-28 14:02] coderReview commented on #128
Yes.

Yes. We want to make them standard.

[2018-07-28 14:30] coderReview commented on #128
@morehappiness don't push to the branch directly. Please fork repository and create PR.

[2018-07-28 14:38] coderReview commented on #128
I have removed your commit and closed your PR.

[2018-07-28 14:41] morehappiness commented on #128
Sorry for the misoperation

[2018-07-28 15:16] coderReview commented on #128
no problem.

[2018-07-28 15:35] morehappiness commented on #128
I see the bug bash page says it needs to pull request to dev branch. Is that right?

[2018-07-28 15:58] coderReview commented on #128
That is a generic instruction. The challenge page says to use `feature/timeline-milestone` branch.

[2018-07-28 16:00] architectt1 commented on #127
@vikasrohit Could we add that to the scope of this issue and increase the price? I ask this because it's hard for me to come up with a *half solution* that doesn't take the order into account. The scenario where I'm wondering what to do is the following:

[code]

The input, although maybe wrong, we still need to handle it:

PATCH milestone 3, set order to 2, and completion date to 10.

[code]

Doe

[2018-07-28 16:47] coderReview commented on #127
@architectt1 I think order can't be changed if completion date is already set, like you said. Leave order update out of the scope of this issue as @vikasrohit has said.  Thanks

[2018-07-28 17:01] vikasrohit commented on #127
I can understand. However, I am trying to keep order thing as separate
issue or scope because we might want to stop supporting changing order of
milestones altogether to avoid inconsistent state. At the very least we can
and we should stop changing order when a milestone is marked as complete.
User has to mark it non complete (only admin would be able to do that) and
then change the order if requi

[2018-07-28 17:02] simranb86 commented on #133
Sorry not been able to setup the app locally. Can we open up for others who have setup ready?

[2018-07-28 17:20] narekcat commented on #140
@vikasrohit I setup application, and try to create project, but there are problem with creating direct project (https://api.topcoder-dev.com/v3/direct/projects/). It responses with status code 401 and message "Valid credentials are required to access this resource.". I try with Bearer code provided in README.md and also try with Bearer code in default.json, bet result is same. Are there any proble

[2018-07-28 17:21] coderReview commented on #133
what are your issues?

[2018-07-28 17:34] thiyagu06 commented on #133
@simranb86 , docker is running your at the port 5432. Change the port and try, It should work. If still you are interested to working on this issue and pls re assign it to yourself

[2018-07-28 17:35] vikasrohit commented on #140
You can skip direct call. Either resolve empty promise instead of calling
direct or remove that block for your local setup.

On Sat, Jul 28, 2018, 10:50 PM narekcat <notifications@github.com> wrote:

[2018-07-28 17:36] simranb86 commented on #133
Thanks @thiyagu06 - it's ok. I moved to other task.

[2018-07-28 17:51] narekcat commented on #140
@coderReview I use `feature/timeline-milestone` branch, but ok I'll do like @vikasrohit said. And one more thing. Today I have setted up application, this was first time that I were working on this project, that's way setup takes more time. The last issue that I were working on is issue with direct project endpoint. It took about 3 hours to find it out and now I need more time to finish bug. Can I

[2018-07-28 22:22] architectt1 commented on #127
Ok, so indeed there are some more edge cases. For now, I kept myself making changes only about the issue's scope. I also fixed an issue where most queries in that endpoint were being run without including the wrapping transaction. This in tests made updates not work, and basically hang. Maybe you had some issues like this in production? anyway, changes are in https://github.com/topcoder-platform/t

[2018-07-28 23:29] gondzo opened #145 "Product templates error"
Request URL:https://api.topcoder-dev.com/v4/productTemplates/ is returning 500 at the moment with error message: `"SequelizeDatabaseError: column "category" does not exist`

Can we deploy a stable branch to dev as it's a blocking issue for connect app development @coderReview @vikasrohit

[2018-07-29 00:06] coderReview commented on #145
@gondzo when was this column created in *dev* branch?

[2018-07-29 00:07] coderReview commented on #129
@mhikeo how is it going? when do you plan to submit?

[2018-07-29 00:10] gondzo commented on #145
not in dev branch - in dev environment. feature/timeline-milestones gets deployed to dev on each commit.
I have redeployed aa61e23730702685504af3481845a49e647c6d7a and the api looks good now, but any new commit to feature/timeline-milestone will deploy the latest again and it will break things again. I guess the columns has to be created in dev database first. @vikasrohit can you run the latest mi

[2018-07-29 02:55] mhikeo commented on #129
@coderReview Submitting within the hour.

[2018-07-29 03:00] coderReview commented on #145
@gondzo it was an incorrect commit. I've remove it. thanks

[2018-07-29 05:29] vikasrohit commented on #133
just fyi @simranb86 I think it needs `NODE_ENV=local` to run it locally.

[2018-07-29 05:55] vikasrohit commented on #127
Agree. But we might need to restrict that order change endpoint to only admins and may be in future we just want to deprecate it. So, having separate endpoint would be better in that case as we don't have to validate the other endpoints if it is modified/deleted.

For transaction thing, I have commented on your PR. IMO, it should be passing the transaction automatically through usage of `continuat

[2018-07-29 06:09] vikasrohit commented on #145
Thanks for sorting it out guys.

[2018-07-29 11:11] gondzo commented on #145
Thanks @coderReview

[2018-07-29 11:11] #145 closed

[2018-07-29 11:15] gondzo opened #147 "Milestone status"
Looks like available milestone statuses are now same as project status statuses, i.e.
[code]

but in frontend we have very different list
[code]

@vikasrohit which one is right?
Also, how is a milestone activated? It's created as 'reviewed' by default, but there are no options to activate a milestone in frontend. Should the first milestone be active by default?

[2018-07-29 13:09] vikasrohit opened #148 "[$50] Remove validation for keeping milestone dates in bound to the timeline dates"
As per discussion [here](https://github.com/appirio-tech/connect-app/issues/2245#issuecomment-408668577) we need to remove the validations in `PATCH /v4/timelines/123/milestones/1234`. Instead it needs to update the timeline's bounds accordingly.

**Requirements:**
1. Remove validation for bounding the milestone's dates within timelines' dates
2. Update timeline's dates as per change in milestone

[2018-07-29 13:22] vikasrohit commented on #147
@gondzo we are keeping exact same status for milestones and phases as we are for project. However, we are mapping the these to front end statuses which are more logical for customers. So, mapping is as follows:
`draft`, `in_review` => `Unplanned` (we might have to add this to front end if not already there)
`reviewed` => `Planned`
`active` => `In Progress`
`paused` => `Blocked`
`completed` => `Com

[2018-07-29 16:03] coderReview opened #150 "[$60] After project creation, ES index is not updated"
When creating a project it's not showing in `list` and `get` endpoints.

Check if ES index is being correctly updated.

From @vikasrohit

[2018-07-30 06:38] vikasrohit commented on #150
@Gauravseta any progress?

[2018-07-30 07:04] vikasrohit commented on #148
@Gauravseta @architectt1 we need this task to be wrapped within next 12-18 hours. Let me know if it is possible for you guys, I would assign the task immediately.

[2018-07-30 07:35] Gauravseta commented on #148
@vikasrohit not possible for me as of now. please assign it @architectt1

[2018-07-30 09:10] vikasrohit commented on #148
Okay. Thanks for the update @Gauravseta

[2018-07-30 09:12] vikasrohit commented on #148
@architectt1 I think you have already made half of the changes in your PR #144 . Could you please just include some other minor things as listed in the description of this issue? Also, I am adding review to the PR considering that this issue is also included in that.

[2018-07-30 09:42] gondzo commented on #147
Should this be done is backend or frontend? Backend makes more sense, but as we're keeping phases and timelines decoupled, this might be tricky? @vikasrohit

[2018-07-30 09:43] vikasrohit commented on #129
@coderReview @mhikeo merging the PR for now to reduce the possibilities of conflicts with other fixes. I have made request of small change in the PR which is needed to be worked on before we close this issue. We will verify the changes in dev env and there after will close the issue if found working.

[2018-07-30 09:51] vikasrohit commented on #147
Yes, I would prefer on the frontend to keep timelines as much decoupled as we can. I am not sure what can be tricky here if we do it on the frontend. I think we missed to add an issue for that in front end.

[2018-07-30 10:30] vikasrohit commented on #150
@Gauravseta @coderReview It seems to be working fine for me. Closing the issue for now, let me know if you still see the issue.

[2018-07-30 10:30] #150 closed

[2018-07-30 11:09] vikasrohit commented on #132
@coderReview merged the PR.

[2018-07-30 11:20] gondzo commented on #147
it's not tricky on frontend, only in backend. anyhow, it's implemented in frontend now https://github.com/appirio-tech/connect-app/commit/dcb401117e7f678aba68aa38d8e6f75aa90ddf30

[2018-07-30 11:20] #147 closed

[2018-07-30 11:44] vikasrohit opened #151 "Add `reference` and `referenceId` fields instead of `productTemplateId` in milestoneTemplates"
To decouple the timeline/milestones from projects/phase/products and to be better at supporting timelines/milestones for other entities than project/phase/product, we need to use `reference` and `referenceId` in stead of `productTemplatedId` in `milestoneTemplate` model.
Purpose of this ticket to:
1. do the required changes in the model and its CRUD operations.
2. Update the other places in projec

[2018-07-30 11:45] vikasrohit commented on #151
@coderReview this one is not critical for our upcoming release, however, we can get it done in current bug bash, after we have closed all issues for the current release.

[2018-07-30 11:51] gondzo opened #152 "Clean up pshah_customer user"
pshah_customer has too many projects (more than 1024) so any query ES fails. @vikasrohit can we either delete some old projects in dev, or remove pshah_customer from some older projects?

[2018-07-30 11:58] vikasrohit commented on #152
Yes, how do you suggest to delete those projects? Manually or through some script? Only removing from database won't work, because that won't trigger the ES update.

[2018-07-30 12:02] coderReview commented on #152
@vikasrohit and @gondzo is this still needed? with latest changes that should not be an issue anymore.

[2018-07-30 12:02] architectt1 commented on #148
@vikasrohit Yup, sounds good, I'll try to make it within that timeframe.

[2018-07-30 12:11] gondzo commented on #152
Ugh, I just checked again and total number of projects for this user is 909, so we still have some space there. Once it goes to 1024, even projects list call will fail, unless we change ES config to allow more than 1024 query terms

I guess a one time use script to remove the user from a list of projects would be enough

[2018-07-30 12:11] coderReview commented on #151
ok

[2018-07-30 12:13] coderReview commented on #152
hi @gondzo when listing project for a customer are we passing project ids to ES?

[2018-07-30 12:21] gondzo commented on #152
yes, we have to filter projects by permission - customer and copilot can only see some of the projects https://github.com/topcoder-platform/tc-project-service/blob/1602c6c53686642b8d08dc440b1a825bb4b60e63/src/routes/projects/list.js#L323

[2018-07-30 17:47] coderReview commented on #152
can we use this solution? https://stackoverflow.com/questions/46451920/elasticsearch-avoid-maxclausecount-by-refactoring-bool-match-clauses

[2018-07-31 02:27] architectt1 commented on #148
@vikasrohit https://github.com/topcoder-platform/tc-project-service/pull/144 contains changes for both revised https://github.com/topcoder-platform/tc-project-service/issues/127 and this issue.

[2018-07-31 06:10] vikasrohit commented on #152
In dev we are fine with deleting projects or removing user from certain projects. However, I think we need to do some enhancements in the way we are fetching projects for customers and copilots. I think we can avoid passing project ids at least for customers because they always see the projects they are part of. And I think we can do that for copilots as well because copilots see their projects an

[2018-08-02 01:51] coderReview commented on #151
@vikasrohit all issues have been merged, I making this available to everyone.

[2018-08-02 11:04] vikasrohit commented on #151
@coderReview I have put more details in the requirements. And I think we still need to put more details, so please wait on this one. We can group this in our next bug bash or private task challenge.

[2018-08-03 05:40] maxceem opened #155 "/v4/projects/<ID>/phases returns 404 for new projects"
For newly created projects`GET /v4/projects/<ID>/phases` returns error `404 Not Found`.

I've tried with `pshah_manager` and `pshah_cutomer` users.

Here are the new projects I've created:
- https://connect.topcoder-dev.com/projects/6901 (by customer)
- https://connect.topcoder-dev.com/projects/6902 (by manager)

If you open them in console you can see error during `GET /v4/projects/6902/phases`:

[2018-08-03 06:47] vikasrohit commented on #126
@coderReview It is working fine. Please close the issue and mark it for payment.

[2018-08-03 06:50] vikasrohit opened #156 "Update dates of hidden milestones as well when cascading the changes in a milestone"
As of now we are not considering the hidden milestone for any processing for cascading changes when a milestone's dates are updated. Rather we need to consider that hidden milestone as well, however, we should not mark that active and instead mark the first non hidden milestone, after the current milestone, as active. We should update the start/end dates of the hidden field as we are doing for non

[2018-08-03 07:00] coderReview commented on #126
@vikasrohit ok

[2018-08-03 11:20] vikasrohit opened #157 "Profiling of project service methods"
Specifically, need to profile time consumed in phases/products/timelines/milestones endpoints. It would be great if we can also track the memory as well consumed in these endpoints.

[2018-08-03 12:28] RishiRajSahu commented on #156
Thanks @vikasrohit , did the needful changes on UI side as well and pushed to dev.

[2018-08-03 12:28] #156 closed

[2018-08-04 07:07] maxceem commented on #117
@vikasrohit It's fixed for `completionDate` but not for `endDate`. Server returns `validation error: "endDate" is not allowed`.

![image](https://user-images.githubusercontent.com/146016/43673583-1753156a-97f8-11e8-898b-29910880f5ac.png)

[2018-08-06 06:31] vikasrohit commented on #117
@maxceem as per our updated strategy, we are not going to allow updates to the `startDate` and `endDate` fields of a milestone via REST endpoints, it would be automatically when doing other lifecycle updates to the timeline or other milestones.

[2018-08-06 07:08] vikasrohit commented on #118
@coderReview Do you know what exactly was fixed for this issue in the F2F? I didn't see any specific changes for this issue.

[2018-08-06 07:17] vikasrohit commented on #118
@maxceem we have the logic in backend to automatically update the dates of the the first milestone according to the changes in the dates of the timeline. So, you don't need to make a separate call to update the dates of the first milestone when you have updated the dates of the timeline. However, I think when you need to update the status of the first milestone for the same user action, you need t

[2018-08-06 09:00] vikasrohit commented on #127
Closing as it is working fine for the specified requirements.

[2018-08-06 09:00] #127 closed

[2018-08-06 09:01] vikasrohit commented on #130
Working fine for the specified requirements.

[2018-08-06 09:01] #130 closed

[2018-08-06 09:19] vikasrohit opened #158 "Introducing a new field `actualStartDate` to the milestone model"
**Requirement:** We need to track the actual start date of the milestone to avoid confusion around shifting scheduled `startDate` when two or more milestones are completed on the same day. By default we start a milestone next day to the completion of the previous one, but user might complete two or more milestones on the same day which is creating inconsistent data(`startDate` being greater than `

[2018-08-06 09:27] vikasrohit commented on #128
Working fine for the specified requirements.

[2018-08-06 09:27] #128 closed

[2018-08-06 09:28] vikasrohit commented on #126
Working as expected for the specified and agreed requirements.

[2018-08-06 09:28] #126 closed

[2018-08-06 09:30] vikasrohit commented on #133
@coderReview Closing as it is marked as accepted.

[2018-08-06 09:30] #133 closed

[2018-08-06 09:31] #129 closed

[2018-08-06 09:31] #134 closed

[2018-08-06 09:31] #140 closed

[2018-08-06 09:32] #148 closed

[2018-08-06 09:32] #132 closed

[2018-08-06 09:32] #131 closed

[2018-08-06 14:59] coderReview commented on #118
@vikasrohit I think you said you provided a fix yourself.

[2018-08-06 16:48] vikasrohit commented on #118
Oh, yes. I forgot. Can we anything more to avoid concurrent access?

[2018-08-06 17:11] coderReview commented on #118
How is the status affecting startDate for timeline and milestone. We have to think that this is a REST API so we have to be stateless. Can you show me the sequence of calls made to the API?

[2018-08-07 02:03] maxceem commented on #118
@coderReview I cannot reproduce this issue anymore, I don't know why. Before It happened in 100% test attempts.

The way to repduce issue was like this, but it doesn't work anymore:

1. Use user `pat_monahan`
2. Open project plan https://connect.topcoder-dev.com/projects/6965/plan
3. Click **Add new phase**
    And select **Visual Design**
4. Open edit form for created milestone and change two fie

[2018-08-07 02:48] coderReview commented on #118
Maybe between the time you tried and now some new fixes were introduced. Let’s keep an eye and make sure it doesn’t happen anymore. Thanks

[2018-08-07 06:52] maxceem opened #159 "Different data in milestones is returned with `/v4/timelines/ID/milestones` and `/v4/timelines?filter=...`"
There was another related issue which is fixed https://github.com/topcoder-platform/tc-project-service/issues/116

For now when we get data of the same timeline using different endpoints `/v4/timelines/ID/milestones` and `/v4/timelines?filter=...` we get different data in milestones. `/v4/timelines?filter=...` returns not updated data.

### Here are example requests to quick check:
- https://api.t

[2018-08-07 10:57] vikasrohit commented on #159
@maxceem I am unable to reproduce the issue. I followed the steps and it seems both endpoints returns the same status for the milestones and they should because they both are reading from the same place that is ES index. The get time line by id endpoint is trying to sort the milestones but as the request does not specify the `sort` param, it is sorting it randomly. So, you might see different mile

[2018-08-07 11:12] maxceem commented on #159
@vikasrohit I've noticed the difference in sorting, but despite it, I still can reproduce the issue. Maybe I'm missing something else?

I use the user `pat_monahan`. And make the next two requests in Postman:

1. https://api.topcoder-dev.com/v4/timelines?filter=reference%3Dproduct%26referenceId%3D1176
    It returns the next object with timeline, I left only `community-milestone` in the milestones

[2018-08-07 11:49] vikasrohit commented on #159
Thanks @maxceem for the detailed debug logs. I got it now. Yes, there is a bug, working on it.

[2018-08-09 07:43] maxceem opened #160 "/v4/projects/6976/phases?fields=... doesn't accept encoded query params"
When we make requests with query params we are supposed to encode query param values with `encodeURIComponent()`.

So requests like this:
[code]

After encoding the value for `fields` param should look like this:
[code]

But if we encode the `field` param value server returns only `id` field instead of the full list:
[code]

And when we send request without encoding, sever returns correct full res

[2018-08-10 07:17] vikasrohit opened #161 "Move all supporting entities endpoints under `/v4/projects/metadata`"
As of now we are hosting all supporting endpoints as root endpoints parallel to the `/v4/projects` e.g.
- `/v4/projectTemplates`
- `/v4/productTemplates`
- `/v4/productTemplates/123/milestones`
- `/v4/projectTypes`
- `/v4/productCategories`

we need to move them to

- `/v4/projects/metadata/projectTemplates`
- `/v4/projects/metadata/productTemplates`
- `/v4/timelines/metadata/milestoneTemplates?re

[2018-08-10 13:13] vikasrohit commented on #158
Done and deployed to dev.

[2018-08-10 13:13] #158 closed

[2018-08-10 13:15] vikasrohit commented on #159
Should be fixed now. I tested it on dev and it seems to work fine now. Only catch is that if it takes some time to index the data in ES and before that front end makes a call to fetch the timelines by `reference` and `referenceId` it still might return old data. To overcome that we should put a fallback call to the timeline by id endpoint only when we are marking a milestone complete if we don't s

[2018-08-10 13:15] #159 closed

[2018-08-11 00:45] maxceem opened #162 "Cannot update two milestones in parallel"
When sending two requests for updating milestones in parallel, one of them fails with error
[code]

Example of two requests:
- `PATCH https://api.topcoder-dev.com/v4/timelines/412/milestones/1562`  with payload
[code]
- `PATCH https://api.topcoder-dev.com/v4/timelines/412/milestones/1561` with payload
[code]

User `pat_monahan`.
Both two milestones from one timeline.

Probably this issue is relate

[2018-08-11 01:25] maxceem commented on #162
For the next two calls I get this issue for all the cases:

- `PATCH https://api.topcoder-dev.com/v4/timelines/412/milestones/1561`
[code]

- `PATCH https://api.topcoder-dev.com/v4/timelines/412/milestones/1563`
[code]

[2018-08-13 09:50] vikasrohit opened #163 "Add ability to create product in phase creation call"
`POST /v4/projects/123/phases` should be able to create product as per specified `productTemplateId` (new param in post body). If it is not passed, skip creation of product i.e. it should be backward compatible.

[2018-08-20 15:55] vikasrohit commented on #155
Closing as it does not seem to appear anymore.

[2018-08-20 15:55] #155 closed

[2018-08-21 06:36] vikasrohit opened #168 "Add support for `order` in phases"
We need to support the `order` for each phase. Initially, it would be an optional field and would be set only for new phases created after this change.
Cases where we need to update the `order` of the other phases in the same project:

1. when a phase has change in `order` field while updating a phase
2. when a new phase is added with `order` field and there exists at least one phase at or after t

[2018-08-22 08:32] vikasrohit opened #169 "Add new field `metadata` to the `milestoneTemplate` model"
This new field would be of type `json` which would serve as storing milestone's type specific configuration e.g. for `final-designs` milestone type, we have to store configuration for the number of final designs that have to be selected to move further.

Scope of this tasks is to:
1. add new field `metadata` to the model
2. accept this new model in create endpoint. it would save as field as is.
3.

[2018-08-22 08:47] vikasrohit opened #170 "Need export and import capabilities for templates"
It is very tedious to create templates in each environment from scratch. Purpose of this task is to create two endpoints, one to export and another to import all existing templates, for `projectTemplate` and `productTemplate` models.

Exact requirements on the import behaviour needed to be detailed which would be more suitable after we are done with #109.

Open questions:
1. Should we import by id

[2018-08-23 10:41] gondzo commented on #170
This is similar to the local test data issue -> https://github.com/topcoder-platform/tc-project-service/issues/102

Importing by id would be easier to maintain in the future, but it will be tricky if existing templates don't have same ids in dev and prod. Override seems more natural when importing existing template. I guess all template changes will first be made in dev and then pushed to prod so

[2018-08-23 11:49] vikasrohit commented on #170
That is true but there might be cases where we have changes in templates in dev env which are to be pushed in multiple releases to production. In that case, we would be left with moving all changes together to the production.

Also, we already have some differences in ids of the templates now between dev and production. So, I guess it would be difficult for us to sync their ids and I think that we

[2018-08-24 06:04] ngoctay commented on #157
@gondzo
I understood that "profile time consumed" means adding logs (using winston, for example) for all endpoints. Is that correct?

[2018-08-24 06:11] vikasrohit commented on #157
Yes that is one part. However, mainly we need the data about the time/memory consumed as a report or an easy way to get that report from dev environment. We need to identify if there is possibility of improving the performance because we are facing slow responses in some cases.

[2018-08-24 06:11] vikasrohit commented on #157
One more thing, this is on least priority right now in the tasks. We can tackle this in last.

[2018-08-24 07:32] vikasrohit opened #171 "New authorization scheme for project creation endpoint"
To support a new use case, where we need to create projects for inactive users, we need to implement a new auth scheme in project service and use that only for project creation endpoint to allow the creation of projects by inactive users as well.

Details:
1. We will look for `Authorization` header
2. Technically it would still be using `Bearer` auth scheme but its value would not be a jwt token t

[2018-08-24 07:46] ngoctay commented on #161
Regarding to the 3rd one  `/v4/timelines/metadata/milestoneTemplates?reference='product'&referenceId=123`

We also need to change the table name "product_templates" to "milestone_templates", right?

[2018-08-24 08:53] vikasrohit commented on #161
Yes, but we kept that part as separate [issue](https://github.com/topcoder-platform/tc-project-service/issues/151) for better tracking. So you can finish that first and then come back to this.

[2018-08-24 09:55] vikasrohit opened #172 "New bus events for milestone notifications"
Need to support few new events for milestones similar to what we did for project plan earlier in https://github.com/topcoder-platform/tc-project-service/pull/110.

Current list of events is:

`notifications.connect.project.phase.milestone.transition.active` => when milestone is marked as active
`notifications.connect.project.phase.milestone.transition.completed` => when milestone is marked as comp

[2018-08-24 11:13] ngoctay commented on #151
@vikasrohit

1. What are values of `reference`? Same as timeline (project, phase, product), right?
2. For `/clone` endpoint, will need to add `sourceReference` and `sourceReferenceId`, right?

[2018-08-25 19:11] ngoctay commented on #171
@vikasrohit
1. Only for project creation endpoint, right?
2. "we can query that using admin access to the identity api", can you provide more details on on how to access the identity API?

[2018-08-26 05:57] vikasrohit commented on #151
@ngoctay We need to support `productTemplate` as `reference` and `id` of the actual `productTemplate` as `referenceId`. We don't associate milestone templates with actual `project` or `product`.

For `/clone` endpoint your understanding is correct.

[2018-08-27 08:39] ngoctay commented on #163
@vikasrohit

How can we populate a new product from productTemplateId?
I checked "productTemplate.js" and "phaseProduct.js", but they have different properties.

[2018-08-27 09:07] ngoctay commented on #162
@vikasrohit
The current logic of updating a milestone will include cascade updating other milestones (order, start/end date..)

So "could not serialize access due to concurrent update" will be thrown if the above 2 concurrent calls cascade updating any same milestone.

I suggest to keep the current status of the API, and change the front-end to make the calls sequentially.

[2018-08-27 09:48] gondzo commented on #162
We should just add locks to milestone objects when fetching them and that will solve the issue, ex
at https://github.com/topcoder-platform/tc-project-service/blob/f979c48129b599fa16e23463566b97ffbdc2c969/src/routes/milestones/update.js#L36  we should do something like
Model.findAll({
  where: ...,
  transaction: t1,
  lock: t1.LOCK...
});
fetching all the milestones at the start of the request wil

[2018-08-27 09:56] gondzo commented on #171
@vikasrohit does identity api support m2m tokens? do we have a clientId/secret that we could use?

@ngoctay I think identity service endpoint is v4_api/users. Is this correct @vikasrohit ?

[2018-08-27 10:00] vikasrohit commented on #163
@ngoctay Good observation, however, we just need few fields from `productTemplate` to `phaseProduct` which are:
1. name => `productTemplate.name`
2. templateId => `productTemplate.id` or simply the passed `productTemplateId`
3. type => `productTemplate.key`

Basically we want to get rid of this extra API call when creating phase and want to achieve the results in single call.

**Note:** Please ret

[2018-08-27 10:11] vikasrohit commented on #162
Thanks @ngoctay for the investigation and your understanding is correct. We have already have work around of calling it sequentially at front end in place, however, we like to know that if there is any possibility of fixing it more elegantly. Just want to be sure that we are not doing any thing that is not industry standard.

[2018-08-27 10:48] vikasrohit commented on #162
@gondzo Is not taking lock automatically when we are starting transaction?

[2018-08-27 11:04] vikasrohit commented on #171
@ngoctay [this](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/util.js#L294) should be the helper function you should be using to get user's status.

[2018-08-27 11:04] vikasrohit commented on #171
@gondzo I think m2m are now supported by identity, however, if our current api is not using m2m to get system user token, we can still go with the existing method of clientId and secret.

[2018-08-27 11:25] ngoctay commented on #171
@vikasrohit
Thanks for the helper function.

Is there any dev identity API endpoint so that I can set the env?

[2018-08-27 12:32] vikasrohit commented on #171
Yes, there is. It should be `https://api.topcoder-dev.com/v3`, however, it won't work on your local because you won't have client id and secret. You can test this on local by mocking the endpoint while unit testing.

[2018-08-27 15:53] ngoctay commented on #171
Do you have any Swagger or Postman for the Identity API?
I don't know any about the request/response.

[2018-08-27 16:30] vikasrohit commented on #162
Yep, that is true when they are outside of a transaction. I guess, when they are in transaction, it depends on the isolation level?

[2018-08-27 16:44] ngoctay commented on #162
@gondzo
It doesn't work. The 1st call succeeded, but the 2nd call failed. ***deadlock detected***

`
{"name":"tc-projects-service-prod","hostname":"ngoctay-pc","pid":14244,"requestId":"22daa237-e0f2-4531-a7d4-efc646933125","level":50,"err":{"message":"deadlock detected","name":"SequelizeDatabaseError","stack":"SequelizeDatabaseError: deadlock detected\n    at Query.formatError (C:\\work\\nodejs\\t

[2018-08-27 16:46] vikasrohit commented on #171
@ngoctay this should help.
[code]

[2018-08-27 16:50] vikasrohit commented on #162
@ngoctay @gondzo Just as information again (not in relation with latest comments), we are trying to find out if this situation is common across standard api development or are we doing some thing different here. And if we are doing something wrong, we need to fix in that case only, otherwise we are good. :)

[2018-08-27 17:52] ngoctay commented on #171
@vikasrohit
Just curious.
Anybody can easily guess a userId and invoke `POST /projects` with `Bearer userId_<userId>`.
That is not quite secured.

[2018-08-28 08:38] vikasrohit opened #173 "Phase progress bus event is triggered without progress change"
Bus event `notifications.connect.project.phase.update.progress` should only be raised when there is a change in the progress of a phase, however, currently it is raised even when user is updating `spentBudget` or `budget` fields.

From https://github.com/appirio-tech/connect-app/issues/2449

[2018-08-28 09:55] ngoctay commented on #172
@vikasrohit @gondzo
I will make a commit for the first 2 events.
For the last one (waiting.customer), will leave a TODO in the code so that we can tackle it later when we have more details.

[2018-08-28 10:27] ngoctay commented on #157
1. Currently we already log the `duration` of each request. So it's unnecessary to add `winston`.
2. For memory, I will use memwatch (https://www.npmjs.com/package/memwatch-next) to detect and log the memory leaks

[2018-08-28 10:30] vikasrohit commented on #172
@ngoctay can you please raise the `...waiting.customer` event when we find `details.metadata.waitingForCustomer` flag to exist and equal to `true`? As of now, we don't have a unique way to identify that a milestone is waiting for customer input, so we are thinking of keeping a new flag at mentioned level to capture this details. This field would be updated by front end. Ideally, we don't want to p

[2018-08-28 10:45] ngoctay commented on #171
Please check the above commit.
Note that we have a new config `whitelistedOriginsForUserIdAuth` which stores the JSON string array of the whitelisted origins (similar to `validIssuers`)

[2018-08-28 10:54] vikasrohit commented on #157
Okay, great!! Can you please compile a simple report which states every route and its time/memory consumed?

[2018-08-28 11:19] vikasrohit commented on #171
Seems good to me. I think it is easy to send `Origin` header as required by using automation tools like Selenium or bare `cURL`, but it is good to have the safeguard in place.
@ngoctay I didn't see the usage of the `userIdAuth` middleware in the change set, though.

[2018-08-28 12:10] vikasrohit opened #175 "Reindex timeline and milestones of a phase/product in admin endpoint"
as per title, right now we are not reindexing the timelines/milestone of the phases of a project when indexing a project via admin interface. We might need a new endpoint to support this to not overload the project index endpoint.

[2018-08-28 13:54] ngoctay commented on #171
Please check

https://github.com/topcoder-platform/tc-project-service/blob/991f2f36d0a5690c8bddff743e8722d6a93b3408/src/routes/index.js#L53:L65

[2018-08-28 13:59] ngoctay commented on #157
@vikasrohit
A report in Excel, OK?
This will take quite a lot of time, so I will do this in last.

[2018-08-28 15:01] vikasrohit commented on #157
Yes, excel would be good for now. And yes, it is the last priority.

[2018-08-28 15:04] vikasrohit commented on #171
Yep, got it. I think it was not showing this change in the particular commit [link](https://github.com/ngoctay/tc-project-service/commit/991f2f36d0a5690c8bddff743e8722d6a93b3408).

[2018-08-29 07:35] vikasrohit opened #176 "Add new field `lastActivityAt` in projects and update it from different child entity events"
required to fix https://github.com/appirio-tech/connect-app/issues/2344

[2018-08-30 04:10] ngoctay commented on #157
Please check the report.

- `POST /projects` and `PATCH /projects` take more than 1s
- I don't see any memory leak
- I don't test metadata endpoints because they are very simple

| Request | Route                                                                   | Duration (ms) | Heap Used (B) |
|---------|-------------------------------------------------------------------------|---------------|--

[2018-09-03 06:26] vikasrohit commented on #171
Closing. @gondzo Please tag it as per your convenience for payments.

[2018-09-03 06:26] #171 closed

[2018-09-03 06:30] vikasrohit commented on #161
Closing. @gondzo please feel free to tag it as per convenience for payments.

[2018-09-03 06:30] #161 closed

[2018-09-03 08:52] vikasrohit commented on #172
It was not working for `active` event when the milestone is made active as cascaded effect after marking previous milestone as `completed` and this was happening because we were using `cascadedUpdates` instead of `cascadedUpdates.milestones` to iterate over milestones updated via cascade. After fixing that it is working fine now for `active` and `completed` events,  however, we need to do some cha

[2018-09-03 08:52] #172 closed

[2018-09-05 11:56] vikasrohit commented on #169
Closing as working fine as per given requirements.

@gondzo Please feel free to tag it as per convenience for payment.

[2018-09-05 11:56] #169 closed

[2018-09-05 11:57] vikasrohit commented on #157
Closing as working fine as per given requirements.

@gondzo Please feel free to tag it as per convenience for payment.

[2018-09-05 11:57] #157 closed

[2018-09-05 12:27] vikasrohit commented on #163
Closing as working fine as per given requirements.

@gondzo Please feel free to tag it as per convenience for payment.

[2018-09-05 12:27] #163 closed

[2018-09-05 12:30] vikasrohit commented on #162
Moving to backlog for now as we haven't found a good solution for it yet but we are able to overcome this by making call sequentially from front end.

[2018-09-08 08:17] maxceem opened #178 "Error handling for Bus API service"
Currently, when errors happen during Bus API calls we don't get the actual error reason, but instead get `Cannot read property 'data' of undefined`, which doesn't have the information about the real error cause.

The reason for this is that here https://github.com/topcoder-platform/tc-project-service/blob/dev/src/services/busApi.js#L27 we ignore all the errors happen during Bus API calls and resol

[2018-09-10 06:15] vikasrohit commented on #178
Thanks @maxceem for capturing this.

[2018-09-10 09:08] RishiRajSahu opened #179 "Consider Planned phases for calculating Project progress"
Current implementation of calculation project progress doesn't consider planned phases its only considering `Active` and `delivered`. It should consider planned phases as well. Please find the screen shot for existing behaviour.

![screen shot 2018-09-10 at 2 31 37 pm](https://user-images.githubusercontent.com/11248478/45287702-8e803c00-b506-11e8-94be-c0cea4b01d8d.png)

**Current Behaviour -**

Pr

[2018-09-10 09:09] RishiRajSahu commented on #179
wrong repo !

[2018-09-10 09:09] #179 closed

[2018-09-18 04:03] maxceem opened #181 "Reuse code for ES mapping in elasticsearch_sync.js and project-create-index.js"
Currently, mapping configuration for ElasticSearch is fully described two times in https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/admin/project-create-index.js#L31-L296 and in https://github.com/topcoder-platform/tc-project-service/blob/dev/migrations/elasticsearch_sync.js#L32-L302

It's quite easy to forget to update one of them and also is hard to understand if they

[2018-09-18 05:51] vikasrohit commented on #181
@maxceem Yep, I am aware of that. And reason for keeping both of them right now are two things:
1. We are not using `elasticsearch_sync.js` for our production environment. We mostly use it in local environment for cleaning the ES index.
2. ES schema is auto right now i.e. ES would add the field into the schema when first time it would index that field.

[2018-09-18 06:59] maxceem commented on #181
Got it @vikasrohit. So I'm closing the issue, as looks like we don't have an immediate solution for this.

[2018-09-18 06:59] #181 closed

[2018-09-21 11:42] RishiRajSahu opened #183 "Removing usage of SystemUserToken"
With the incorporation of m2m, we have to remove the usage of` SystemUserToken` once the `https://api.topcoder-dev.com/v3/authorizations` endpoints supports m2m.

[2018-09-27 08:58] RishiRajSahu commented on #176
Done and pushed to dev.

[2018-09-27 08:58] #176 closed

[2018-09-29 04:46] vikasrohit commented on #173
Fix applied and it seems to work as expected right now. However, similar issues may appear in future because there are fields in `phase` which are now controlled via timeline/milestone and not synced back to the `phase` object always, so it can create difference in the way we render the values for those fields in UI and the actual values in the `phase` objects which was the root cause of this issu

[2018-09-29 04:49] #173 closed

[2018-09-29 05:10] vikasrohit opened #185 "Use GroupConsumer instead of SimpleConsumer for Kafka"

[2018-10-05 05:37] RishiRajSahu opened #189 "Project's Members not getting indexed for some projects"
Members field inside the Project is not getting indexed due to which Projects returned from ES results doesn't contains members data.

[2018-10-08 12:20] RishiRajSahu commented on #189
Fixed with https://github.com/topcoder-platform/tc-project-service/commit/61f1b90bc7a8705233abbb01d1ed335d9fbe83b1

[2018-10-08 12:20] #189 closed

[2018-10-25 07:27] vikasrohit opened #193 "Remove using AWS keys from env variables, use role based access instead"
as per title

[2018-10-25 09:41] vikasrohit opened #194 "Separate task deployment for API and event bus consumers"
This is to make the two portions decoupled and make consumers fault tolerant. As of now, if due to a runtime error consumers dies, ECS does not know that and never starts a new task for it. It causes missed notifications till we restart the process again.

[2018-12-03 11:11] RishiRajSahu opened #197 "Removing hidden templates from the metadata call"
Currently, all the project templates gets fetched during metadata call. Changes needs to be done on to filter away the hidden templates from the metadata endpoint.

fyi @vikasrohit

[2018-12-13 11:47] vikasrohit opened #203 "Need to validate the accessing project from ES index in /{projectId}/phases endpoint"
We are using ES index for fetching the specific project when loading phases for a given project. We might have directly query the database to avoid the inconsistency issues with ES.

fyi @RishiRajSahu @maxceem

[2018-12-18 05:15] vikasrohit opened #204 "Handle missing member information gracefully (Specifically at project creation time)"
Currently, our write operations in project service, relies on member api to respond in time and correctly which makes it very tightly coupled with those services. It makes Connect unstable when member api is down or does not have the required data (newly created users are some time missing from _search endpoint which fails the project creation request e.g https://help.topcoder.com/hc/requests/2940

[2018-12-24 11:41] vikasrohit commented on #204
@RishiRajSahu @acshields @RiteshTC I have applied a [hotfix](https://github.com/topcoder-platform/tc-project-service/pull/206) to the production which ignores the error in indexing the project in ES in case of missing member details. Hopefully, it should not cause any blocker issues. One of the known thing ,that is not going to work for projects created even when there was error in fetching member

[2018-12-24 11:43] vikasrohit commented on #204
One more thing, users who created project the situation mentioned above, would still be shown as follows (because we still don't have their profile data coming from member api):

<img width="362" alt="screen shot 2018-12-24 at 5 13 33 pm" src="https://user-images.githubusercontent.com/2417632/50398654-44625400-079f-11e9-9562-8668dfb1c042.png">

[2018-12-26 10:49] RishiRajSahu opened #208 "Updating endpoints to fetch Addons/ProductTemplates based on category/subCategory"
Update `GET /v4/projects/metadata/productTemplates endpoint`
Add ability to filter the list of product templates which are returned by this endpoint by `subCategory` and/or `category`.
So possible requests could be:
- `/v4/projects/metadata/productTemplates?filter=subCategory%3DSUB_CATEGORY_NAME`
- `/v4/projects/metadata/productTemplates?filter=category%3DCATEGORY_NAME`
- `/v4/projects/metadata/pr

[2018-12-28 00:18] gondzo opened #210 "Can't update aliases in productTemplates"
updating product templates without aliases field works properly.

sample call
PATCH https://api.topcoder-dev.com/v4/projects/metadata/productTemplate/51

body
[code]

sample response (404)
[code]

[2018-12-28 00:19] gondzo commented on #170
@vikasrohit is this still needed?

[2018-12-28 00:32] gondzo commented on #102
@vikasrohit can we start some work on this, it's *very* hard to have the community working on project service without sample data.
Besides sample data we also need to:
1. update docs (readme is heavily outdated). maybe adding an architecture overview doc or diagram would be helpful - it's not easy to figure out how we're using notifications&Kafka, rabbitMQ, elasticsearch, dynamo, etc
2. update loc

[2018-12-28 04:55] vikasrohit commented on #210
https://github.com/topcoder-platform/tc-project-service/pull/209 is already raised to fix this. Will be merging it soon.

[2018-12-28 05:03] vikasrohit commented on #210
Closing the issue as it should be fixed now in dev. Thanks @gondzo  for reporting.

[2018-12-28 05:03] #210 closed

[2018-12-28 05:04] vikasrohit commented on #170
It might be needed in future. I would like to keep it open till our metadata management UI is mature enough to support all use cases needed by support team to manage templates in Connect.

[2019-01-04 08:50] vikasrohit opened #213 "Refactor the permission logic for invite PUT and GET operations"
As of now, the logic for validating the permissions for the PUT and GET operations for ProjectInvite model is placed inside the route itself while if we follow the standard being used in other routes, we need to have the permission validations as middleware. So, only validated requests should be passed to the route.

[2019-01-04 08:53] vikasrohit opened #214 "Unit test for ProjectInvite PUT route"
Earlier there was a bug where if a user is making a PUT request via API, with payload having email of a valid invite and status being `ACCEPTED` or `REJECTED`. I think `else if (!!putInvite.userId && putInvite.userId !== req.authUser.userId) {` would fail to report error because `!!putInvite.userId` would be false in this case and code won't go into the block and would by pass our checks.

[2019-01-04 08:53] vikasrohit commented on #214
fyi @gondzo

[2019-01-04 09:03] RishiRajSahu opened #215 "Adding Endpoint to add team members directly to project by admin user"
With the incorporation of team invites we don't have ability of directly adding a member to team via rest endpoint directly by Admin. Currently the member addition endpoint is only supporting addition of the requesting user, we won't be able to add members to the project via API which might cause some troubles to support team. So, we should create a new endpoint to provide that functionality back.

[2019-01-17 10:43] maxceem opened #231 "Event `connect.action.timeline.milestone.waiting.customer` is not created"
When we come to the last **Delivery** milestone in any project in Connect App we update the last milestone as `"waitingForCustomer": true`:
[code]

In this case, project service has to trigger the `connect.action.timeline.milestone.waiting.customer` event. But for some reason it doesn't happen, even though respective code looks correct:
https://github.com/topcoder-platform/tc-project-service/blob/

[2019-01-21 05:23] maxceem opened #233 "Don't send a registration email when we invite already existent users by email"
This issue was already fixed in several commits like this one https://github.com/topcoder-platform/tc-project-service/commit/fa2fd52fd0e1d0cfbc4aeaed91beb4fd75b5a07b and few next commits for small issues.

And after the fixes, I couldn't reproduce this issue anymore. But now I can reproduce it again.

For example, I'm inviting by email existent user to this project https://connect.topcoder-dev.com

[2019-01-21 05:31] maxceem opened #234 "[$120] Don't let invite user by email if he is already in the team or already invited"
### Actual behaviour
Example, I'm already is a Manager in **Topcoder team** of this project https://connect.topcoder-dev.com/projects/7709

I invite myself to the **Project Team** using email my address and server accepts my requests and creates an invitation.
![image](https://user-images.githubusercontent.com/146016/51454568-50cad400-1d80-11e9-8346-f8d44d898f19.png)

After I reload the page I got

[2019-01-21 05:56] maxceem opened #235 "Error "Project members can only update invites for themselves""
When I invite user `@maxceem` to the **Project Team** and after use user `@maxceem` to login and accept an invitation, I get error `Project members can only update invites for themselves`.

But I'm trying accepting an invitation for user `@maxceem` using user `@maxceem`.

fyi @RishiRajSahu

[2019-01-21 06:03] maxceem opened #236 "When invite multiple users to Topcoder team if there is error for any user, no invites created for any users"
### Steps to reproduce

Using some manager user invite to the **Topcoder team** users `@pshah_customer, @pshah_manager`. Invite them to be a manager. Only user `@pshah_manager` can be a manger. `@pshah_customer` - cannot.

The server returns error `40152922 cannot be added with a Manager role to the project` which is correct.

But, user `@pshah_manager` also wasn't invited. If we loging using `@ps

[2019-01-21 06:36] vikasrohit commented on #235
Good to log this one. We have faced this for some users as well. Our investigation shows that this error mostly happens when there is difference in email of the user in our two systems (identity and member). Let me check if it is the same case for your user as well.

[2019-01-21 06:39] vikasrohit commented on #235
@maxceem Just checked your email seems to be in sync everywhere. So, we definitely need to track down why it is not allowing you to add yourself to the team.

[2019-01-22 04:41] maxceem commented on #235
@vikasrohit I've found the root of the issue. The endpoint https://api.topcoder-dev.com/v3/users?filter=id%3D40035291 return email as `"undefined"`:
[code]

That's why when make the next check https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projectMemberInvites/update.js#L70 it fails.

Though I'm not sure why identity service returns `"undefined"`.

[2019-01-22 04:48] maxceem commented on #235
I have a wild guess why it could happen. I've tested changing email with this user.
I've requested changing email but I didn't finish the process. Instead, I've just reactivated my user using admin panel.

[2019-01-22 05:16] vikasrohit commented on #235
@maxceem just to be on same page, you are testing this in dev environment, right? I verified your email in production though. I just checked in dev env and found that your email is set as undefined some how. I just updated that, you can try now testing the invite again.
From my investigation, every time this issue is related to inconsistency in email between the invite and the user's actual email.

[2019-01-22 05:36] maxceem commented on #235
I've tested it on DEV environment.

It works now for my account.

@vikasrohit do I get it right that we still have this issues on PROD and this is caused by?

[2019-01-22 07:10] maxceem commented on #233
Ok, I think it's not an issue. The reason why I got registration email for my user was that before I've tested changing email with this user.
I've requested changing email but I didn't finish the process. When I request changing email my account become inactive but I didn't confirm changing email, instead, I've just reactivated my user using admin panel.

This led to the fact that identity service

[2019-01-22 07:10] #233 closed

[2019-01-23 10:25] vikasrohit opened #237 "Add project ref code in bus even payload"
This is to facilitate the filtering projects by ref code while listening for bus events for third party integration. This is done in response to adhoc request for kubik project filtering while posting a Slack notification for such projects.

fyi @mtwomey @RishiRajSahu @acshields

[2019-01-29 12:07] gondzo opened #240 "Notifications sent for users that left the project"
I left a project on connect recently, and can't access it anymore, but I'm still getting email notifications for thread posts. I suspect this might be related to elasticsearch project members not being updated correctly.

@vikasrohit can you investigate if this is the case? project id 7658

the other item that I suspect is a bug in tc-notifications where we send notifications to topic starters but

[2019-01-29 12:15] gondzo opened #241 "Notifications for project plan changes"
Project plan changes generate a very high number of notifications - possibly due to activating a phase creating cascading updates to timeline&milestones. For example, yesterday on Connect v3 project, I got 10 emails in a minute, and 33 emails in total for all project plan changes. We do have bundle email support for these events so it's not a big issue, but we're generating a lot of identical emai

[2019-02-07 05:04] maxceem opened #245 "Support filtering project list using substring for id, name, REF, customers and managers"
To support the functionality described in this issue https://github.com/appirio-tech/connect-app/issues/2804 we have to support the ability to filter results of `GET /projects` endpoint using additional criteria.

#### Here is how the task looks from the point of view of Connect App:
- `ID`: User can type in a full ID or a portion (Ex. “55..) and all results matching that ID should be filtered.
-

[2019-02-07 05:13] maxceem commented on #235
I get this use again for `pshah_customer` user on DEV for this project https://connect.topcoder-dev.com/projects/7839/

[2019-02-07 07:36] vikasrohit commented on #235
It is again inconsistent email for the user. I have tried to fix this @maxceem , try it now.

[2019-02-07 07:45] maxceem commented on #235
@vikasrohit
Didn't help so far:
- project https://connect.topcoder-dev.com/projects/7839/
- user `pshah_customer`
- cannot accept invitation

[2019-02-07 07:59] maxceem commented on #245
As all the data we want to filter by is added to Elastic Search index we can filter by all of these properties.

[2019-02-07 11:39] maxceem commented on #245
As we already have filter by `id` which can be done by equality comparison `id=1234` where we compare the whole id. Or we can provide the list of id `id=in(1234,5678,9012)`.

For the new feature we can use syntax which would well matched with ES syntax:
- `id=12*` - find all projects with ids starts from `12`, `id=*12` - find all projects with id finishied with 12, `id=*12*` find all projects with

[2019-02-08 05:50] vikasrohit opened #246 "Replace the call to fetch users by email from identity to member api"
As of now our new team management is not able to successfully send the invitation when user invites multiple emails. It is because we are using identity api to fetch existing users for the given email and identity actually does not support filtering by multiple emails. So, we need to replace it with member api's _search endpoint which supports the filtering by emails.

fyi @maxceem we need to get

[2019-02-09 06:44] vigneshTheDev commented on #245
Looks like Customer/Manager names are not available in elastic search index. Should we query the db for these?

[2019-02-09 06:50] maxceem commented on #245
I thinkg they have to be in the ES, as per source code:
- on project creation: https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/projects/index.js#L38
- on member adding: https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/projectMembers/index.js#L85

Note, sometimes member API fails to respond with correct data and for some project we wouldn't hav

[2019-02-10 02:20] maxceem opened #250 "SequelizeDatabaseError: column "allowedUsers" does not exist"
When I try to navigate to any project on DEV the project service returns error 500:

![image](https://user-images.githubusercontent.com/146016/52528546-8417d780-2d1c-11e9-84f1-8c4fcba48030.png)

[code]

fyi @vikasrohit

To make the Project Service available on DEV, I'll deploy some more earilier commit to DEV https://github.com/topcoder-platform/tc-project-service/tree/feature/dev-previous

[2019-02-10 03:43] vikasrohit commented on #250
@maxceem fixed the database and redeployed latest changes back. Seems to work fine for me, let me know if it still there.

[2019-02-10 03:43] #250 closed

[2019-02-13 06:12] RishiRajSahu commented on #102
Hey @gondzo, i see you created a PR https://github.com/topcoder-platform/tc-project-service/pull/248 and it seems you are in context, so would you like to again take over this issue ?

[2019-02-13 09:32] gondzo commented on #102
sure. #248 solves most of the requirements.
the only issue is that metadata in dev can't be inserted directly in local database - probably there is some stale data in dev db so validations fail sometimes.

[2019-02-13 09:43] RishiRajSahu commented on #102
@gondzo Could we add a check to remove that stale data and empty the dev db before this push of metadata ? It would be great to make the local deployment as smooth as possible.

[2019-02-13 10:27] vikasrohit opened #253 "API endpoint security validation for attachment PATCH for updating `allowedUsers`"
Need to validate that any user other than creator of the attachment, can not set permissions of the attachment.

[2019-02-13 10:28] vikasrohit commented on #253
It seems we are [not allowing](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/permissions/project.updateAttachment.js#L30) any one other than creator to update the attachment. So, it is safe to assume that it won't allow update of permissions as well.

[2019-02-13 10:28] #253 closed

[2019-02-18 12:20] vikasrohit commented on #240
Are you receiving email for only those messages where you were the starter of the topic?

[2019-02-18 12:22] vikasrohit commented on #241
Agreed. Do you have any idea about how to tackle that @gondzo ?

[2019-02-18 12:40] gondzo commented on #240
yes, only if I'm the topic starter

[2019-02-19 04:45] vikasrohit commented on #240
okay. I think we should not send the email in any case when user has left the project. I would discuss this with product team and come back to you.
Would you mind getting it fixed @gondzo , in case product team requires so?

[2019-02-19 11:43] gondzo commented on #240
sure. just let me know when/if we need to implement that

[2019-02-19 11:48] gondzo commented on #241
IMO we would need some kind of grouping for the events - ex by referenceId or something like that. This would be different from bundling in that we would aggregate all the related events into a single notification - ex project plan changed with changes including status update, phase added, milestone completed and specification updated - all in a single notification.
We could discuss more complex s

[2019-02-22 03:14] maxceem commented on #109
As I understand we would need for this:
- add new properties to the project model, both of them can be null
   - `templateKey`
   - `templateVersion`
- remove `templateId` from the project model
- create migration which would update all projects: populate `templateKey` and `templateVersion` and remove `templateId`
- NOTE, I guess we would need to reindex projects in ES after such change

After tha

[2019-03-05 06:31] maxceem opened #257 "Improve setup guide/process for local developing"
Currently we several kinds of issues which raise during setting up the project service locally for development. Especially it's crucial for F2F challenges, where setup process may take the same or even more efforts than solving the actual issue.

We can improve setup process in several ways:
1. ✅ Create a separate step-by-step guide of how to run project service locally if we provided AUTH credent

[2019-03-06 07:17] maxceem commented on #109
@vikasrohit currently, we can delete templates. Which now makes projects which use such templates broken.
- Should we check that template is not being used by any project before deleting it?
- For versions: should we check that particular version is not being used by any project before deleting it?

[2019-03-06 11:44] vikasrohit commented on #109
Sorry for responding late for this. Yes, your understanding is absolutely correct here. Do you have any other suggestions or questions around versioning? I mean, I just wrote the steps which I thought of at that time but I was not sure if these are all things required and if implementing these would serve our purpose.

One additional important requirement which we are looking here is to, automatic

[2019-03-11 11:27] vikasrohit commented on #231
Should be fixed now by https://github.com/topcoder-platform/tc-project-service/commit/22415e4cc8f28c6d4b4c16f850674b1d463b891d

[2019-03-11 11:27] #231 closed

[2019-03-12 04:30] maxceem commented on #109
@vikasrohit as now we are doing refactoring of project templates into:
[code]

Maybe we can add versioning at the same time as I guess intead of adding versions to `ProjectTemplates`, we should add versions to `Form`, `PriceConfig` and `PlanConfig` now, so project template will refer them like this:

[code]

What do you think?

[2019-03-12 05:03] vikasrohit commented on #109
Yes, Agreed. So, may be we can design new models with versioning in mind at first place. Also, we might need to be ready for data migration of existing templates, although I think we can avoid that by keeping the existing fields of the project template as is for now and just taking care of new model in front end just like we take care of `v2` vs `v3` projects.

[2019-03-12 06:24] maxceem commented on #109
1. What do you think about making versions just integer numbers `1, 2, 4, ...,N`?

2. Regarding automatic removing. I guess we not always can remove old versions because old versions could be used by some templates. Maybe something like this?
     - when we create a new version we check if there are any object versions which were created erlier than some amount of days and if they are not refered

[2019-03-12 06:25] maxceem commented on #109
@vikasrohit I've created the draft specification for project template refactoring, maybe you could have a look https://docs.google.com/document/d/16o1at1wMK_xvDysMa8fLghEUgIoDIf-5z1IzIBnowuk/edit#

[2019-03-12 09:26] vikasrohit commented on #109
@maxceem I think if we do migration immediately, I would like to keep this structure for ProjectTemplate:

[code]

For new templates (after this refactoring), `scope` and `phases` would be null and for older ones, `form`, `priceConfig` and `planConfig` would be null.

For migration, may be we can provide an endpoint just like we have for project upgrade which allows us to selectively upgrade templ

[2019-03-13 00:45] maxceem commented on #109
@vikasrohit

As I understand you prefer instead of migrating all the `projectTemplates` immediatelly do it selectively, so we will need to support two versions of `projectTemplates` in Connect in the next places:
    - Metadata editor `projectTemplate` old version
    - Metadata editor `projectTemplate` new version
    - Creating V2 projects: `productTemaplate` only one version
    - Creating V3 p

[2019-03-13 01:52] maxceem opened #261 "Improve process of running tests locally"
So far to run tests locally during development process we should rebuild and restart the Docker which makes it hard to run tests during development. And if after we want to continue developing we have to it again to switch back to the main DB, and we will also lose any data in our DB. This makes running test during development very time-consuming.
[code]

I'm thinking to ask the community to fix t

[2019-03-13 10:36] vikasrohit commented on #261
If we can do it without publishing the custom image to dockerhub, we should be good to go with this.

[2019-03-14 02:30] maxceem commented on #261
On the second thoughts I decided to go with the first way, as it looks like more comfortable in many ways:
- we don't have to build a custom image during project setup - which takes time
- we don't have to support this custom docker image in the future
- the only one concern I had was regarding usage of system resources by the second PostgreSQL instance. But as per `docker stats` it is very low, s

[2019-03-14 03:31] maxceem commented on #183
@RishiRajSahu I'm currently checking if we can fully move to M2M token.

Here are all the places/service where we currently use `SystemUserToken`:

| Code | Service |
|--|--|
| https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/projectMembers/index.js#L51 | Topcoder Direct |
| https://github.com/topcoder-platform/tc-project-service/blob/dev/src/events/projectMembers/index.

[2019-03-14 05:49] maxceem opened #264 "Optimize performance of /projects/metadata for objects with versions"
We are splitting projectTemplates into several models:
- forms
- priceConfigs
- planConfigs

So we have to update endpoint `/projects/metadata` to return these objects also. But these objects have versioning. And the question which versions to return in the `/projects/metadata`.
We two kind of versions in Connect App:
- latest versions for Create New Project functionality
- versions referred from

[2019-03-14 06:37] vikasrohit commented on #264
Thanks @maxceem for logging it

[2019-03-14 07:30] vikasrohit commented on #183
@maxceem I think we can get rid of system user token for member service endpoint and both of identity endpoints.
https://github.com/appirio-tech/ap-member-microservice/blob/dev/service/src/main/java/com/appirio/service/member/resources/MemberSearchResource.java#L90
https://github.com/appirio-tech/tc1-api-core/blob/dev/tech.core/tech.core.service.identity/src/main/java/com/appirio/tech/core/service

[2019-03-14 07:31] vikasrohit commented on #183
Or may be if we can generate a PR for direct api to honour the m2m token, we can ask the owner of the repo to get it validated and merged.

[2019-03-15 03:08] maxceem commented on #261
This is already in DEV, so I'm closing it.

[2019-03-15 03:54] maxceem commented on #261
Ups, it was in DEV only in my dreams. I've fixed tests in PR so it can be reviewed merged now https://github.com/topcoder-platform/tc-project-service/pull/265.

[2019-03-15 03:57] maxceem commented on #183
@vikasrohit I've moved to M2M for Identity and Member services in this PR https://github.com/topcoder-platform/tc-project-service/pull/266

So the only thing left is Direct service.

[2019-03-15 07:10] #183 closed

[2019-03-15 07:32] maxceem commented on #183
@vikasrohit just to make it clear, we still use `SystemUserToken` to make calls to Direct.

[2019-03-15 08:54] vikasrohit commented on #183
Yes, on the same page.

[2019-03-15 12:30] vikasrohit commented on #240
@gondzo got confirmation about this. We need to prevent sending any notification related to the project to a user who has left the project even though the topic was started by the same person.

[2019-03-15 12:30] vikasrohit commented on #245
@maxceem Closing the issue. We would take care of including ID in search later.

[2019-03-15 12:30] #245 closed

[2019-03-15 12:32] vikasrohit commented on #234
@maxceem I think this one does not exist any more. Let me know if we can close this.

[2019-03-15 12:32] vikasrohit commented on #237
Done via #239

[2019-03-15 12:32] #237 closed

[2019-03-15 12:34] vikasrohit commented on #194
Done and working fine on production as well.

[2019-03-15 12:34] #194 closed

[2019-03-15 12:37] vikasrohit opened #271 "Need to support addition of limited number of milestones for a timeline"
For upcoming feature of project plan where we are going to improve the project plan, we are going to provide facility to add milestones to a timeline from front end. However, we don't want them to be able to add unlimited number of milestones. We want them to be able to add only configurable number of milestones. This configuration should be done at product template level.

fyi @maxceem @RishiRajS

[2019-03-16 09:43] maxceem opened #274 "Lint seed scripts"
So far we have excluded seed scripts which can be run by `npm run demo-data` from linter.
Linter should be enabled for them and issues have to be fixed, as we are going to constantly update and improve these scripts.

The rule for `console.log` should be disabled in seed scripts as we use it to output log.

Alternatively, we may use logger, but I don't see a strong benefit for it in these scripts.

[2019-03-16 09:48] maxceem opened #276 "Can we remove test seed script?"
We have some script which may be called by `npm run seed` https://github.com/topcoder-platform/tc-project-service/blob/feature/seed-projects/src/tests/seed.js#L1.

I don't find any place or documentation on when it should be called. But it looks like it was created to be called before tests. But I don't see we call it now during tests.

Is there anybody knows the purpose of this script? Maybe we c

[2019-03-18 10:23] vikasrohit opened #277 "Changes required for project member invite update endpoint"
There are few problems with current implementation of the update endpoint of project member invite.

~~1. It does not wait for project member to be created before sending response to the caller which can be troublesome when there is an error while creating the project member object after accepting the invite. In this case, it would show success to the user while user is still not part of the proje

[2019-03-18 10:33] vikasrohit commented on #277
@maxceem @gondzo do you guys think [this](https://github.com/topcoder-platform/tc-project-service/commit/7d5f1b2212df790fb7c472cc595e4756a6ff48a8) fix would work?

[2019-03-18 10:39] gondzo commented on #277
looks fine.
In order to support copilot invites by email in the future we would have to call member api to get the userId from the email in the invite (case where copilot manager approves request for a copilot invited by email) - but we don't have such requirement yet, so this commit will be fine.

[2019-03-19 06:03] vikasrohit commented on #277
I think that is already in place [here](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projectMemberInvites/create.js#L59). This fix is to handle, when this logic of fetching id of the user by email fails, may be because user does not exist yet or there is some error in calling the API.

[2019-03-19 06:14] vikasrohit commented on #271
Results of our (me and @RishiRajSahu ) latest brainstorming about this topic:

1. We should have ability to have `metadata` for `productTemplates`
2. Add new property/field, `maxMilestones`, to `timeline` model
3. Populate this new field `maxMilestones` while creating the timeline for a product. Copy this value from `productTemplates`'s `metadata`
4. Update `PATCH` endpoint of `milestone` to respe

[2019-03-25 07:52] maxceem commented on #271
@vikasrohit I have a couple of questions regarding `maxMilestones`:
1. Should it be mandatory property?
2. What would be the default value if it's mandatory?

[2019-03-25 08:13] maxceem commented on #271
3. > Update PATCH endpoint of milestone to respect the maxMilestones value from the timeline

If I understand correctly we should add the same check to the POST endpoint of the milestone.

[2019-03-25 08:46] vikasrohit commented on #271
Yes. Agreed. I meant that only. I think we don't need to look for `maxMilestones` for the `PATCH`.

[2019-03-25 08:59] vikasrohit commented on #271
I think we don't need to make it required. For `null` values we can just restrict the addition of new milestones because as of today, we don't allow addition/deletion of milestone to any of the product template. And in future, if we need to by pass this check i.e. we need to allow addition of unlimited number of milestones, we can use sentinel value `-1` to denote that state.

[2019-04-02 06:42] maxceem opened #286 "Cannot update file permission with non-admin user"
When I try to update file permissions in Connect app using a user who doesn't have admin permission, Project Service returns error: `Only admins and the user that uploaded the docs can modify`.

See demo video https://monosnap.com/file/8xlakE6v1SIQibYS1dIiQdPYZr0mm6

Can be reproduced with `pshah_copilot` and `phash_manger` users with this project https://connect.topcoder-dev.com/projects/7959 or

[2019-04-09 01:37] maxceem opened #288 "Refactor ProductTemplates to use Form instead of template property"
We already refactored `ProjectTemplate` model to keep form templates inside `Form` model.
We want to do the same for `ProductTemplate` model.

1. Make property `ProductTemplate.template` optional.
2. Add property `ProductTemplate.form` which will refer a particular form version same like `ProjectTemplate`: `{ key: String, version: Number }`
3. Create a DB migration script for changes in `ProductTe

[2019-04-10 08:48] maxceem commented on #288
@vikasrohit @RishiRajSahu as was mentioned by vikas here https://github.com/topcoder-platform/tc-project-service/pull/283 we should do refactoring for `productTemplates` same like we did for `projectTemplates`.

Could you please confirm that this is desired change and I'll run F2F immediately.

[2019-04-10 09:11] RishiRajSahu commented on #288
@maxceem yeah we can launch it, but does it impact being run in parallel the execution of other backend/frontend challenges ?

[2019-04-10 09:19] maxceem commented on #288
@RishiRajSahu this change so far is backward compatible, so it shouldn't affect other tasks in parallel.

[2019-04-19 06:53] vikasrohit commented on #286
@maxceem were those files uploaded by the same user who is trying to edit the file?

[2019-04-19 07:40] maxceem commented on #286
@vikasrohit

I think it was a client-side issue and it's fixed in the `cf16` branch. It works good now. So I'm closing this issue.

[2019-04-19 09:37] vikasrohit opened #294 "Add paused status for the milestones"
Continuing from https://github.com/appirio-tech/connect-app/issues/2968

This issue is for handling the backend changes required for the new status. We would need to keep history of the milestone status changes so that we can enable caller of the API to calculate the time spent in the each of the state of the milestone and move the status back to previous status when user wants to resume the miles

[2019-04-19 10:21] vikasrohit commented on #286
👍

[2019-04-19 10:21] #286 closed

[2019-04-22 06:42] vikasrohit commented on #276
Lets leave it as is for now @maxceem as it seems to be updated with latest models as well and it might be helpful in local setup. What do you think?

[2019-04-22 06:47] maxceem commented on #276
@vikasrohit we have a new script `npm run demo-data` which populates metadata by copying data from the DEV env. And also it creates demo projects.

So these two scripts currently duplicate the functionality of each other.

The new script creates demo data in a more reliable way using API in comparison with the old one which is writing directly to the DB.

I don't use the old script and don't sugge

[2019-04-22 06:53] vikasrohit commented on #276
Okay. Lets remove it to avoid confusion. We can alway get it back from git history if required.

[2019-04-26 02:08] maxceem commented on #294
@vikasrohit there is a couple of ways to go, would be great to have your view on them.

Does it make sense to make this new model universal so it could be reused by any other model not only the milestones in the future?
   1. So we can refer to the rows in this model by the `milestoneId`. In this case we can use it only for milestones. And if later we want to have the same functionality for other

[2019-04-26 06:29] maxceem opened #296 "Improvements for product/project template refactoring"
This issue has the final touch which we should do for refactoring product template and project templates to use Form model.

It's a follow up from this PR https://github.com/topcoder-platform/tc-project-service/pull/290

1. In this PR helper method has been created `util.checkModel` while in previous code this method has been defined several times:
   - https://github.com/topcoder-platform/tc-proj

[2019-04-26 07:31] vikasrohit commented on #294
Thanks @maxceem for the updates and options. I would definitely like to make it bit generic if not fully generic. By that I mean is that we should think only about pause status for milestone (or may be a generic entity), rather we should keep history of all status changes of the target entity, some thing we are doing for project status changes already. So, my proposed schema would be:

[code]

Now

[2019-04-26 07:42] maxceem commented on #294
Got the idea, thanks @vikasrohit. Just one thing to confirm. In the next comment, you are saying, that if we have milestone in pause status, we have one entry in the status table - it's clear.
After you saying:

Do I understand that when a user updates the status of the milestone, we should retrieve the latest status as you say, just to check if a new status is different from the previous one. And

[2019-04-26 09:41] vikasrohit commented on #294
Nopes, that is not the idea. I think we can easily achieve this from the front end only by not allowing user to change the status to the same status again, right?

Let me give some practical example to make it more understandable. Lets say, we have a milestone with id `123` created, so there would be following entry in the new proposed table:
[code]
Now, lets say the milestone is moved to the `rev

[2019-04-28 18:24] mfikria commented on #296
@maxceem resolved in https://github.com/topcoder-platform/tc-project-service/pull/297

[2019-04-29 08:12] maxceem commented on #294
Thanks, @vikasrohit. Got your idea.

1. As I understand, every time we change the status of milestones, we should "log" this event in the "status_history" table as you described above.
   We change milestone statuses in several ways:
   - using `create`/`update` milestone endpoints
   - when we `create`/`update` timelines, we make a cascade update of milestones of the timeline

   I think the best

[2019-04-29 10:54] vikasrohit commented on #294
1. I am okay with sequlize hooks if they don't pose any performance issue. I checked the docs, and it says it loads all the affected records in memory to perform the hook operation. It does not seem bad to me though as we are not going to have batch operation to update the status, but still it might need some monitoring after we implement it.

2. Agreed.

[2019-04-29 12:00] maxceem commented on #294
Thanks @vikasrohit

It looks like we also should add some read-only [virtual column](https://sequelize-guides.netlify.com/virtual-columns/) `actualDuration` to the milestones model. Which wouldn't be stored in the DB and would be calculated as you described [above](https://github.com/topcoder-platform/tc-project-service/issues/294#issuecomment-486997090). This property should be stored in the Elas

[2019-04-29 12:05] maxceem commented on #294
@vikasrohit note, if we add a new virtual property `actualDuration` to milestones and store it in ES index, we would have to reindex ES or create some fallback code in Connect app, to support the case where we didn't have `actualDuration` yet. As for such cases `actualDuration === duration.`

[2019-04-30 06:17] vikasrohit commented on #294
I think it would be good to have that virtual column and have it indexed in ES. Only question I have is that, how much would it cost if we don't have such field and calculate the `actualDuration` based on the actual data. I know we have to pass the `status_history` records for each milestone in our responses to milestone endpoints and I think that is the only possible thing to slow down the respon

[2019-04-30 07:32] maxceem commented on #294
Right, only this.

Good idea. I don't see performance issues if we do it server-side.

[2019-05-01 01:59] maxceem commented on #294
@vikasrohit the last thing. In this [comment](https://github.com/topcoder-platform/tc-project-service/issues/294#issuecomment-486997090) you've mentioned that we should calculate the actual time since milestone comes to the `reviewed` status. I think we should only calculate actual duration after milestone comes to the `active` status. Because `reviewed` status means that milestone is planned, but

[2019-05-01 02:23] maxceem commented on #294
Regarding this, I think it would be better to keep it client-side. If in the future if we reindex ES in project service, this code in project service wouldn't be used anymore. And we would forget to delete it :-). While in client side we already have a lot of code to support several backend versions, so it's ok to have such code there. Also, most likely we can make this fix fallback code in one pl

[2019-05-01 08:53] vikasrohit commented on #294
I was trying to be as much generic as we can be with ability to pause the milestone in any state. However, I think it would create confusion for now so, lets allow `paused` status only from `active` status and hence calculation of `actualDuration` would also be correct as per the understanding you shared above.
I am okay with client side as well. Go with it.

[2019-05-02 05:26] vikasrohit opened #299 "New endpoints for fetching project phases and products from database"
Currently we have list endpoint for fetching a project's phases/products which fetches the data from ES cluster. There are incidents where we are not able to get the phases/products in time for a project just after creating a project. So get rid of that situation, we need to have an endpoint which returns data from database without waiting for ES indexing.
Purpose of this task is to replicate the

[2019-05-02 05:34] maxceem commented on #299
@vikasrohit to confirm.

Currently, we have endpoints
- to list phases `GET /v4/projects/:projectId(\\d+)/phases` https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/phases/list.js
- and products `GET /v4/projects/:projectId(\\d+)/phases/:phaseId(\\d+)/products` https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/phaseProducts/list.js

We should impl

[2019-05-02 05:37] vikasrohit commented on #299
Yes.

[2019-05-07 01:47] maxceem commented on #299
@vikasrohit just in case, this is already done and merged to DEV branch.

[2019-05-07 01:48] maxceem commented on #296
@vikasrohit just in case, this is already done and merged to DEV.

[2019-05-07 01:50] maxceem commented on #294
@vikasrohit I've got one question regarding sending BUS events.

When we pause/resume milestones we should send `connect.action.timeline.milestone.transition.paused`/`connect.action.timeline.milestone.transition.active` events. Should we also send `connect.action.timeline.milestone.updated` in such case?

When we update milestones we send both events, if we change status.

[2019-05-07 06:41] #299 closed

[2019-05-07 06:44] vikasrohit commented on #294
Yes. `connect.action.timeline.milestone.updated` is a generic event which is sent after every update in a milestone while the other two are derived/specialized events of the the raw/generic event. This is to facilitate easy consumption of such specialized events while keeping a common event which is always raised for a consumer who wants to consume every milestone update.

[2019-05-07 06:45] #296 closed

[2019-05-07 13:35] maxceem commented on #294
@vikasrohit the first part of this task is done in this branch: https://github.com/topcoder-platform/tc-project-service/tree/feature/milestone-pausing
- created universal `StatusHistory` model to keep track of the status of any model
- tracking milestones status in `StatusHistory` model using hooks
- endpoints for pause/resume milestones
- sending an event to BUS API when we pause milestone

### A

[2019-05-08 01:31] maxceem opened #301 "ElasticSearch pagination limitation"
In project service, we retrieve projects from the ElasticSearch using `from`/`size` parameters of the ES search query, see code https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projects/list.js#L248-L249

While ElasticSearch has a default limitation of the `from + size` value to `10000`, see https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-f

[2019-05-08 05:08] vikasrohit commented on #301
Thanks for bringing it to notice @maxceem. Do we have any workaround or solution for this?

[2019-05-08 05:26] maxceem commented on #301
As we don't show pagination `1, 2, 3 ... N` for users, and we only can load the next portion of data during scrolling, but cannot jump to an arbitrary page. We can use `scroll + size` combination when loading more projects in Connect app. See related documentation for ElasticSearch https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html.

This way doesn't have su

[2019-05-08 06:16] vikasrohit commented on #294
Thanks @maxceem for the update.

I am thinking of removing these endpoints now to be as much REST complaint as we can. Sorry for the confusion. I think we can reuse our existing PATCH endpoint to pause and resume the milestones with additional validation for followings:
- Milestone can not be moved to `paused` status from any other status than `active` (for now, but we should be able to easily add

[2019-05-22 08:40] vikasrohit opened #305 "Store the project estimate data in the data store"
As of now, the project estimation is just front end calculation that we show during project creation and we don't store it in the data store which makes it difficult to see what was the estimate we offered to the customer at the time of project creation. It becomes more difficult to track and understand if we need to change the price or time effort config for the same project template after projec

[2019-05-22 08:56] vikasrohit commented on #294
@maxceem did you get time to analyze the pending items for this task?

[2019-05-22 09:00] maxceem commented on #294
@vikasrohit unfortunately no. As CF took quite much time lately. But it's also on my short list.

[2019-05-25 06:43] vikasrohit commented on #305
@maxceem We need to wrap this one quick as we want to push these changes to production with our next release so that we don't loose any data once we release the new smart forms on the production.

As a starting pointing I am suggesting to store the information regarding the price/time estimate in following table structure:

[code]

[2019-05-29 10:04] maxceem commented on #261
FYI, has been merged to DEV and I guess to PROD and works well during local development. So this issue may be closed.

[2019-05-30 06:13] maxceem commented on #294
Updated code in the https://github.com/topcoder-platform/tc-project-service/tree/feature/milestone-pausing branch. Made changes to follow RESTful approach as per comment below.

What is left:
- put `StatusHistory` into the ES index
- return `statusHistory` property with every `milestone` object we return in all the endpoints.

@vikasrohit is that ok to introduce a new ES index for `StatusHistory`

[2019-06-10 06:05] vikasrohit opened #313 "Unable to use admin API for metadata management"
It is throwing following error `column \"nan\" does not exist`. Unable to delete a project via API as well because of the same error.

fyi @maxceem

[2019-06-10 06:06] #305 closed

[2019-06-10 06:07] vikasrohit commented on #288
@maxceem I think we are done with this, right?

[2019-06-10 06:07] #261 closed

[2019-06-10 06:08] #235 closed

[2019-06-10 06:09] vikasrohit commented on #193
Its done via https://github.com/topcoder-platform/tc-project-service/commit/356594fc996f2d21ea5391020051f1c7e2c618c1

[2019-06-10 06:09] #193 closed

[2019-06-10 06:12] vikasrohit commented on #203
we added the db endpoint for fetching the phases with https://github.com/topcoder-platform/tc-project-service/commit/ed355898880fa9a34b6f221eebe2a8cbba710351. However, we still have to decide if we should call this to fetch the phases of a specific project.

[2019-06-10 06:24] maxceem commented on #288
@vikasrohit  right, it's done.

[2019-06-10 06:25] #288 closed

[2019-06-10 06:28] vikasrohit commented on #271
@maxceem we need to pick this up as well.

[2019-06-10 09:44] vikasrohit commented on #313
It was issue with my token.

[2019-06-10 09:44] #313 closed

[2019-06-11 08:33] vikasrohit opened #314 "[$35] Prevent non admins to update the template id of a project"
As of now a customer can update the template id of their projects by directly calling the API endpoint. Although, it does not do any harm but it can result in issues in rendering a project because data for the project would not be stored in the formatted as per the updated templated id.
So, we should prevent updating template id of an existing project for non admin users.

fyi @maxceem @RishiRajSa

[2019-06-11 08:35] vikasrohit opened #315 "New data models for work management"
We need to introduce new data models and need to update existing ones to achieve the requirements/features needed for the new work management strategy. Though, we don't have final designs of all input and display requirements, we do have the feature details and we can determine common fields out of those details. So, we can start creating the model and API endpoints around it to be ahead of time a

[2019-06-11 08:48] vikasrohit commented on #294
Thanks @maxceem for the changes and apologies for the late response.
I am good with keeping the history of status changes in ES per milestone, however, I don't want to create new index for it. I would like to handle it via nested documents and in fact as we don't need to filter out milestones based on status history of that milestone, I think we can even keep them as simple array of objects in the

[2019-06-11 10:40] vikasrohit commented on #234
@maxceem can we close this?

[2019-06-11 10:45] vikasrohit commented on #213
I think this one is not valid anymore, I can see all routes of `ProjectMeberInvite` using the permissions middleware to verify the permissions.

[2019-06-11 10:45] #213 closed

[2019-06-11 10:47] vikasrohit commented on #204
Closing the issue as it is working fine as mentioned in previous comments.

[2019-06-11 10:47] #204 closed

[2019-06-11 10:47] maxceem commented on #234
@vikasrohit I think this is fixed client-side so this issue would never happen in the real life, but it's not fixed server-side.

[2019-06-11 10:48] vikasrohit commented on #197
This has to be done for non admin users only. Admin users should still be able to fetch all templates and metadata.

[2019-06-11 10:50] vikasrohit commented on #109
@maxceem I think we can close this one as we have the backend ready for versioning. If we don't have an issue for front end work, we can create that.

[2019-06-11 10:51] maxceem commented on #109
Yes, this is done and so far there are no issues, except migration SQL script, that I've fixed today.

[2019-06-11 10:53] #109 closed

[2019-06-11 10:54] vikasrohit commented on #234
Okay, then we should get it implemented in backend as well. Marking this issue for 2.4.13 release. I am thinking of a quick bug bash for that milestone.

[2019-06-11 11:09] maxceem commented on #315
@vikasrohit, in general, it looks clear.

Have a few questions to make sure I've got everything right.

1. > We need to keep one to many relationship (via cross ref table) between WorkStream and Phase object

   Do you mean that we have to create an additional model to implement this relation? Or just add one more field to the `Phase` model: `workstreamId` which would refer to a `WorkStream` or ca

[2019-06-11 11:29] vikasrohit commented on #315
I would not like to add any reference of workstream directly to the phase, rather I am thinking of using a join table to maintain this relationship which I guess is supported only via `belongsToMany` association in sequelize. I am still open for the way you suggested, if we see any issues with the way I proposed.

Yes, I think we don't need to make any change to the code for this endpoint. However

[2019-06-12 02:05] maxceem commented on #315
Ok. So we will add one more model `PhaseWorkStream`:
[code]
And use sequalize feature `belongsToMany`:
[code]

Hmm, strange that we don't have `phaseId` in sequalize model of the `PhaseProduct` https://github.com/topcoder-platform/tc-project-service/blob/dev/src/models/phaseProduct.js#L3-L20 but we have it in SQL migration script https://github.com/topcoder-platform/tc-project-service/blob/dev/mig

[2019-06-12 06:55] vikasrohit commented on #315
Do we need

[code]
as well? or can we just specify only one of these (preferably the one I suggested above) to fulfill all the requirements of specifying the association?

We don't need that as it added by association specified by https://github.com/topcoder-platform/tc-project-service/blob/dev/src/models/projectPhase.js#L42

[2019-06-12 07:03] maxceem commented on #315
Do you mean that we don't have to explicitly create the model `PhaseWorkStream` as we are not going to add any additional fields to the joint table, and we can do like:
[code]
And, create an SQL migration script for creating according table in the DB:
[code]

Or did you mean some other way? As I don't see another way at the moment from your input.

[2019-06-12 07:13] vikasrohit commented on #315
Yep, having relationship between Phase and WorkStream, without creating the model is also something I would like to have as Sequelize support that.

However, my intention is the last comment is about keeping the relationship between these two entities from `WorkStream` object instead of `Phase` i.e.
using `WorkStream.belongsToMany(Phase, { through: 'PhaseWorkStream' })` instead of `Phase.belongsTo

[2019-06-12 07:51] maxceem commented on #315
Hmm. So the concern is `WorkStream.belongsToMany(Phase, { through: 'WorkStreamPhase' })` vs `Phase.belongsToMany(WorkStream, { through: PhaseWorkStream })`.

As per my understanding in our case, the next endpoint `/projects/{id}/workstreams/{id}` should return a list of `Phase` which belongs to one `WorkStream`. This is equivalent of `Phase` model to have `workStreamId`, which we would replace wit

[2019-06-13 09:33] vikasrohit commented on #315
I guess you meant `/projects/{id}/workstreams/{id}/**works**` and my point is that one workstream can have more than one phases but one phase would never belong to multiple workstreams.

[2019-06-14 11:28] vikasrohit opened #316 "Data model for storing the community spend per price building block"
## Description
In new smart scope forms, for project cost estimation we are using building blocks as primitive elements which stores the price/time configuration per valid combination of answers to the various questions. We are storing those building blocks, at the time of project creation, in `project_estimations` table. This table has single record per building block identified for the project c

[2019-06-14 15:29] maxceem commented on #316
1. I tend to the second approach. In general, it feels that it would be easier to add new types of budget in the future if needed. Regarding the data leaking, it also feels that the second approach can give us more explicit control of the data.
   - for example instead of introducing new endpoints like `GET /projects/{id}/estimations/{id}/items` we can return the estimation items together with `pr

[2019-06-14 15:36] maxceem commented on #315
Thanks, @vikasrohit you are right. I was a little bit mixed up here.

The requirements are clear for me now. Just to get a wider perspective, what is the main intention to use a join table here instead of a foreign key `workStreamId` inside `Phase` model? Are there any future plans connected with these tables?

[2019-06-15 03:16] vikasrohit commented on #316
Thanks for quick feedback @maxceem. Good observations for both the approaches as well.

1. > it would be easier to add new types of budget in the future if needed.

Yes, that was one of my purpose when I drafted that second approach. However, later I realized that it won't be very rare (except till we release it to production) to get this price break up changed and have more types of budgets. And

[2019-06-15 03:19] vikasrohit commented on #315
I am just trying to keep the workstream logic separate from phases because I have seen the terminology changing very significantly over the time (e.g. now we are calling `phase` as `work`, which had as naming convention in Connect v1 😬)

[2019-06-17 06:12] maxceem commented on #315
@vikasrohit the last questions here before I lunch it:

1. There are few endpoints which require complex logic of authorization depending on the project template, for some templates we allow customers to be able to update the details while for others we don't.
   1. Do we have any details regarding this requirement? Or should we let all customers to perform these actions at the moment?
   2. This

[2019-06-17 06:29] vikasrohit commented on #315
1. We can not determine any specific logic for customer access. I mean, we need to be generic in terms of having capability of controlling access of work management based on user roles and project template. May be we can ask participants to improvise there.

2. I can not think case where your statement does not hold true, so we should be good for now.

[2019-06-17 06:58] maxceem commented on #315
if permissions only depend on `user roles` and `template` I think we can add a `metadata` field to the `projectTemplate` model. And use it to define the list of user roles which can edit works for this template, something like this:
[code]
In the future we can define some additional data in`metadata` for templates if we need.

#### Very general approach

There could be another more general approac

[2019-06-17 10:26] vikasrohit commented on #315
Yes, I guess most probably it would be a combination of `userRoles` and `projectTemplate`, however, there might be multiple types of actions that can be controlled via these permissions e.g. `customer` role users might be allowed to create/update/delete work cards for a particular `projectTemplate` while `copilot` role users might be allowed only to attach challenges/tasks to the existing work car

[2019-06-18 10:55] maxceem commented on #315
1. Do I understand it right, that your suggestion is to add more values to `action` in the future for special cases like for "copilot role users might be allowed only to attach challenges/tasks to the existing work cards"?

   While in the beginning, we can have two supported values for `action`:
   - `CRUD_WORK` to manage permissions for `POST/PATCH/DELETE /projects/{id}/workstreams/{id}/work{id}

[2019-06-18 11:07] vikasrohit commented on #315
1. Yes, we can mode values as you suggested e.g. `CRUD_WORK`, `CRUD_WORKSTREAM` etc

2. Theoretically, we can do that if we need that, however, for now we only need to control all write operations as single permission i.e. allowed role would be able to create/edit/delete the entity.

3. Its more like standard Access Control Lists in operating systems, just to have the facility of denying specific

[2019-06-18 11:10] maxceem commented on #315
I'd like to extend the first question regarding:

It looks like permissions could be quite specific. I mean not only just let users to call `POST/PATCH/DELETE` but also permission to `PATCH` the model in some specific way, is that correct? And we don't have yet more detailed requirements here.

So this means, that most likely we would have to hardcode the rules for other values of `action` inside

[2019-06-18 11:21] vikasrohit commented on #315
Okay, got it where the confusion is.

I don't think we would like to control the permission to an endpoint in some specific way, although having this support would be great. 😬 I don't think we have that requirement as of now, all we need is to stop users without proper roles to managing the work objects.

I think, we can have a single middleware which can be aware of all types `action` in `work_ma

[2019-06-18 11:22] maxceem commented on #316
To sum up:
- we will use the first approach
- we will control permission using post-middleware for `GET /projects/{id}/estimations` endpoint
- we WON'T create additional endpoint `GET /projects/{id}/estimations/{id}/items` as we will use one model with post-middleware.

[2019-06-18 12:17] vikasrohit commented on #316
@maxceem I think what I meant in my last long statements, was that we can have separate table for estimation items as suggested in second approach but still control their access via post middleware. And if we don't need the specific endpoints for accessing these estimation items, we can skip implementing them for now. This gives us the ability of keeping the information when markup is changed for

[2019-06-19 03:56] maxceem commented on #315
Thanks, @vikasrohit now the task regarding permissions is clear.

I think we can reuse [permissions](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projects/create.js#L216) middleware same way we use it for other endpoints.

1. For each of new endpoint we would use `permissions` as usual like:
[code]

2. We would setPolicy as for [other ednpoints](https://github.com/to

[2019-06-19 05:03] maxceem commented on #316
Thanks, @vikasrohit I would like to clarify a few moments:

1. > And if we don't need the specific endpoints for accessing these estimation items, we can skip implementing them for now.

    Does it mean that we would include `project_estimation_items` inside the response of `/projects/{id}/estimations` and `/projects/{id}/estimations/{id}`?

2. One note regarding the `post-middleware` I think tha

[2019-06-19 07:10] vikasrohit commented on #315
I liked the idea @maxceem and I think we should be good with that. One thing I am slightly confused is the use case which mentioned as `In particular, we can require that only Connect Manager who is a member of the project with a manager role can have access, rather than just any Connect Manager.`. I think `projectRoles` and `topcoderRoles` in the rules are `ORed` not `ANDed`. So, I am not sure ho

[2019-06-19 07:32] vikasrohit commented on #316
Yes, but with our strict post middleware which would remove those records for non authorized users. We would still create separate class method to fetch estimation items for a estimation or a project and would not like to include them by default in all fetch queries of the estimations.

As I said in my comment above, we won't return `project_estimations_items` by default for every query made again

[2019-06-19 07:47] maxceem commented on #315
What I meant here is that the next rule let any `Connect Manager` to access:
[code]
while the next rule, let only access to users who joined the project with a `manager` role:
[code]

So to keep it simple at the moment we wouldn't create API to manage `work_management_permissions` and would populate it directly via SQL commands. Do you think that would be enough for now?

[2019-06-19 09:05] maxceem commented on #316
@vikasrohit I'm not sure what do you mean by `possibility of just a random price breakup per building block`.

[2019-06-21 06:57] maxceem commented on #316
I think I've got what you mean here. Currently, each `building block` has only one total price. While we would like to define the price breakdown per building block like:
[code]

And when we create a project we would store the total sum into `project_settings` and breakdown by summing building blocks into `project_settings_items`.

But the thing, that we cannot store such a price breakdown inside

[2019-06-24 07:24] vikasrohit commented on #316
I think you meant `project_estimations` and `project_estimation_items`, right?

And I think now you got the pain point which I was trying to explain with `random price break up`. And I liked the 3rd approach as with first two approaches, we are still relying on JSON fields which I think is risky to control visibility as per user roles.

Now coming to the 3rd approach, I think essentially `project_

[2019-06-25 05:01] maxceem opened #318 "PATCH /timelines doesn't return milestones if startDate is not updated"
When we call `PATCH /timelines` endpoint with an updated value of the `startDate` it return timeline with milestones property:

![image](https://user-images.githubusercontent.com/146016/60070410-27580f00-9749-11e9-9b0e-0b84fbf4b7e2.png)

If we call PATCH /timelines` without updated the value of `startDate` it returns timeline without milestones property:

![image](https://user-images.githubusercon

[2019-06-25 09:32] vikasrohit commented on #315
Sorry @maxceem Missed to reply here. I am good with your observations.

[2019-06-26 02:23] maxceem commented on #316
@vikasrohit thanks for a detailed description.

### BuildingBlocks schema

I propose the next schema for `bulding_blocks` model:
[code]
- we use `config` to keep the data free for any future changes
- as we use `key` for primary we couldn't reuse the key after soft-deleting.

### On edit price markup

As per my understanding, we don't need `project_settings` model anymore to store price markup and

[2019-06-26 02:28] maxceem commented on #316
One more thing, @vikasrohit

### Migration script

We should write a migration script which would extract building blocks from `projectTemplate.scope` or `priceConfig.config` JSON, create records in `building_blocks` and updates JSON to refer the building_blocks by keys.

So:
[code]

Would become:
[code]

I guess we can keep them as objects here. In case we want to define some additional values pe

[2019-06-27 10:47] vikasrohit commented on #316
Thanks @maxceem for summarizing the requirements and solutions.

For building block schema, I would like to have the price break up columns as standard fields instead of json as we might need to perform some aggregations on those fields while creating reports and I don't think these fields would change very frequently.  I would like to run migration SQL scripts to add/remove columns instead of sil

[2019-06-27 12:06] vikasrohit commented on #301
Thanks @maxceem for the details and apologies for the super late response.

I can see the more projects loading is succeeding in about 250ms which seems good enough to me. What is the value you are expecting @maxceem here? Definitely, if we can load it in 100ms it would be great, however, just wondering what would be a sufficiently acceptable value for it.

And I think, we can definitely give a tr

[2019-06-28 03:02] maxceem commented on #294
@vikasrohit this is completed via PR https://github.com/topcoder-platform/tc-project-service/pull/322

[2019-06-28 05:15] maxceem commented on #316
I'll think about it. I guess we cannot block developer for 100%, because of the nature of JS. But probably we can cover the main cases.

I was thinking to return `buildingBlocks` separately in the `/metadata` endpoints together with other kinds of templates and let the client side to merge with data in the project template.

If we support additional data in projectTempates for buildingBlocks like

[2019-06-28 07:47] maxceem opened #323 "[$100] Make sure transactions work automatically"
As we use `continuation-local-storage` for `Sequelize` transactions should work without direct passing the `transaction` object into the `options`. And we use this in many places in the project:

![image](https://user-images.githubusercontent.com/146016/60326099-7efdb100-99bb-11e9-830c-70e06a0f2881.png)

Though as per my testings, it feels that transactions didn't work (partials changes weren't re

[2019-06-28 10:49] maxceem commented on #246
@vikasrohit I think some time ago we've tried to replace identity service with member service for this purpose but couldn't. I cannot find where we had the discussion.

In short: member service does `loose` searching by email and returns many users who don't have the email we are searching for.
For example, the next request for `3` emails finds `1 012 453` records while it returns `10 000` records

[2019-06-28 10:50] maxceem commented on #246
I guess what we can do here is to make several requrests in parallel using identity service.

[2019-06-30 08:30] maxceem commented on #294
@vikasrohit I've realized there could be some possible edge case in the current logic.

This would depend on whether we could pause/resume milestones which were created before we implemented tracking milestone status history?
- `No` - if no, everything is good, we can determine if the milestone has been created before we implemented the status history if milestone `statusHistory` propery is empty

[2019-07-01 07:38] vikasrohit commented on #316
@maxceem your approach for combining the `building_blocks` data with template's `buildingBlocks` looks good to me. And I think more or less approach using `project_settings` is also fine with minor changes (I would come to them later in this reply). However, what I am thinking is to combine both of these approaches together instead of using only one of them i.e.

1. If we are able to find a record

[2019-07-01 08:53] vikasrohit commented on #246
Yep, I remember that @maxceem and I am in discussions with Member api team to have that feature in `_search` endpoint to allow us searching emails without tokenizing i.e. exact matches of the provided emails. However, that seems to be a long discussion and might not get implemented until we verify that there is no other way to achieve the requirements and we have identified final requirements arou

[2019-07-01 10:47] vikasrohit commented on #294
I would like to keep things simple by not allowing `pause` feature for existing milestones.

[2019-07-02 07:41] maxceem opened #324 "Forms, PriceConfig, PlanConfig: creating a new version after deleting fails"
This issue can be reproduced for any model with versions: Forms, PriceConfig, PlanConfig.

How to reproduce:
1. Create two versions of in any model.
2. Delete the second version.
3. Try to create a new version.
4. The server will return an error.

Example:
`POST http://localhost:8001/v4/projects/metadata/planConfig/ptest1/versions`
returns
[code]

Most likely issues happens because when we determi

[2019-07-03 05:39] vikasrohit commented on #324
CF candidate.

[2019-07-03 06:16] maxceem commented on #294
Ok, now I see there could be also some tricky moment.

If initially, we don't have `statusHistory` we treat this milestone old and we cannot pause it.
As soon as we change the status of a milestone, the `statusHistory` history record would be created so such milestone would become pausable.

What do you think, would be such behavior ok?

Actually, I think there is some approach to finding out if a

[2019-07-04 06:11] maxceem commented on #234
Note we can invite several members at once, using handles and emails. When we invite user which is already in the team we have to return emails, for which invitations are failed in the response inside `failed` property, the same we do now for other errors. While successful invitation should be created as now.

See we return failed property if there are any invitations failed https://github.com/top

[2019-07-04 06:30] maxceem commented on #197
@RishiRajSahu I just want to confirm that we really want to do this.

Currently, we don't let user choose `hidden` templates during project creation, but they still can navigate to them using direct link. In the Connect app we load all the metadata once and after we treat all metadata as loaded to the redux store. If we don't return `hidden` templates anymore, we should update the Connect app for

[2019-07-04 06:32] maxceem commented on #314
We should update the existent unit test after this fix. And also, we should create 2 new unit tests to check that:
- admin user can update `templateId`
- non-admin user cannot update `templateId `and got error `403` - `You don't have permission to change project template`.

[2019-07-04 06:56] maxceem commented on #323
For the first part we should verify if transactions work or no automatically if we don't define `tx` explicitly. After we get results of this verification part we would decide what to do next.

1. Update code to not pass transactions directly in the cases when we pass it now.
2. `Test case 1`. When we update milestone status using `PATCH /v4/timelines/:timelineId(\\d+)/milestones/:milestoneId(\\d+

[2019-07-04 07:19] gets0ul commented on #314
Is this different with connect-app bug bash?
Can I work on this?

[2019-07-04 07:29] maxceem commented on #314
It's the same Bug Bash with Connect app. You can work no this, but you can work only at one issue at a time. So you should complete https://github.com/appirio-tech/connect-app/issues/3112 first, or unassign that one first.

[2019-07-04 09:11] romitgit commented on #234
Please assign this issue to me

[2019-07-04 09:15] maxceem commented on #234
@romitgit assigned.
To setup project locally you would need to set some environment variables as per [README](https://github.com/topcoder-platform/tc-project-service), you can find them on the [forum](https://apps.topcoder.com/forums/?module=Thread&threadID=939807&mc=1#2350618) of the [challenge](https://www.topcoder.com/challenges/30095031).

[2019-07-04 09:45] r0hit-gupta commented on #314
I would like to work on this.

[2019-07-04 09:47] maxceem commented on #314
@r0hit-gupta assigned.

[2019-07-04 09:49] mhikeo commented on #323
Hi. Kondly assign this to me. Thanks.

[2019-07-04 09:49] maxceem commented on #323
@mhikeo assigned.

[2019-07-04 13:14] romitgit commented on #234
@maxceem thanks. Will look into that.

[2019-07-04 13:17] maxceem commented on #234
Thanks, just would like to remind that as per our [Bug Bash rules](https://www.topcoder.com/challenges/30095031), the submission PR should be created during 12 hours, or issues may be unassigned.

[2019-07-04 17:00] romitgit commented on #234
@maxceem I'm not able to start the project. Getting dtrace-provider module not found error. Some help would be really appreciated. Thanks
![Screenshot 2019-07-04 at 10 29 20 PM](https://user-images.githubusercontent.com/8111864/60681033-45d9ab00-9eab-11e9-9734-b37ffb444b3f.png)

[2019-07-04 17:08] r0hit-gupta commented on #314
@maxceem its already ignoring the template Id. https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projects/update.js#L65

[2019-07-04 19:58] romitgit commented on #234
@maxceem  I'm finished with the task. Just confused on where to raise the PR. Not able to commit anything as of now.

[2019-07-04 21:59] romitgit commented on #234
It’s done and ready for review. Here is the PR link - https://github.com/topcoder-platform/tc-project-service/pull/330

[2019-07-05 03:25] maxceem commented on #314
Thanks, @r0hit-gupta. Please, hold on this until I confirm if we should let admins to update it.

@vikasrohit currently, we cannot update `templateId` should we let admins to do it?

[2019-07-05 03:31] maxceem commented on #323
As no comment has been provided during 12 hours as per this [Bug Bash](https://www.topcoder.com/challenges/30095031 rules), this issue is now open for pickup.

[2019-07-05 03:32] maxceem commented on #314
@r0hit-gupta as we are on hold for this one, you may pick up another one, if you want to https://github.com/topcoder-platform/tc-project-service/issues/323

[2019-07-05 04:05] r0hit-gupta commented on #323
Please assign me.

[2019-07-05 04:29] maxceem commented on #323
@r0hit-gupta assigned.

[2019-07-05 04:31] romitgit commented on #314
@maxceem Is this availables to pick up. If yes, please assign to me

[2019-07-05 04:32] maxceem commented on #314
@romitgit we are waiting for clarifications for this issue. At the moment it's not available for pick up.

[2019-07-05 04:34] vikasrohit commented on #314
@maxceem @r0hit-gupta Yep, I think I missed that and I think I didn't checked it via calling the API endpoint. However, when we are here, can we do following thing for the sake of considering this issue  a valid task (may be with reduced prize money):

Verify that if we have unit test for the same case i.e. no one should be able to update the templateId via API directly. If we don't, lets add unit

[2019-07-05 04:42] r0hit-gupta commented on #314
Yes, sure. Working on it.

On Fri, 5 Jul 2019, 10:04 am vikasrohit, <notifications@github.com> wrote:

[2019-07-05 04:42] maxceem commented on #314
Ok @vikasrohit, so for this issue, we have to add a unit test that admin user cannot update `templateId`. I guess as per current logic it's enough to to check for admins, thinking that other users have less permissions and also cannot update it.

The prize for this issue is reduced to $25.

fyi @r0hit-gupta

[2019-07-05 05:07] vikasrohit commented on #314
@maxceem I would like to have 3 separate unit tests for, one for admins, another for copilots and last for customers (Topcoder User).

[2019-07-05 05:20] maxceem commented on #314
Ok @vikasrohit. @r0hit-gupta I've slightly increased the prize for 3 tests.

[2019-07-05 05:26] maxceem opened #332 "[$150] Fix copilotAndAbove permission to check that users is a member of the project"
From @vikasrohit

I see that permission `copilotAndAbove` doesn't check if the user is a member of a project or no, only user role of Topcoder, see https://github.com/topcoder-platform/tc-project-service/blob/challenge%2F30095006/src/permissions/copilotAndAbove.js#L11

This rule is used for all the CRUD endpoints for phases and products, see https://github.com/topcoder-platform/tc-project-service/

[2019-07-05 05:35] vikasrohit commented on #332
`Connect Manager` s should also be restricted to add phases to the projects they are part of. They can always join the project at their will, but this restriction would prevent any accidental modification of the plan.

[2019-07-05 05:40] maxceem commented on #332
@vikasrohit last question, what about [admins](https://github.com/topcoder-platform/tc-project-service/blob/challenge%2F30095006/src/constants.js#L39)? Should they also be members of the project to add phases?

[2019-07-05 05:45] vikasrohit commented on #332
No, Connect Admin and administrators can do any change to any project.

[2019-07-05 06:34] maxceem commented on #332
To sum up:

1. We should fix the permission checking method [copilotAndAbove](https://github.com/topcoder-platform/tc-project-service/blob/challenge%2F30095006/src/permissions/copilotAndAbove.js#L11) so:
   1. User with [Topcoder admins roles](https://github.com/topcoder-platform/tc-project-service/blob/challenge%2F30095006/src/constants.js#L39) should be able to perform operations. See [example](

[2019-07-05 06:35] PrakashDurlabhji commented on #332
@maxceem will it be open soon?

[2019-07-05 06:36] maxceem commented on #332
@vikasrohit to confirm, should `account mangers` be able to add phases and so on when they are members of the project?

[2019-07-05 06:38] maxceem commented on #332
@PrakashDurlabhji yes, it will be opened as soon as all the details are clarified. Note, as per this [Bug Bash rules](https://www.topcoder.com/challenges/30095031) we do not allow to reserve issues. As soon as this issue is open for pick up, the first who comments will take it.

[2019-07-05 06:39] PrakashDurlabhji commented on #332
@maxceem sure i understand, whoever comments first when it is opened, issue goes to them

[2019-07-05 07:03] vikasrohit commented on #332
No, they are restricted to manage the projecgt plan.

[2019-07-05 07:18] maxceem commented on #332
This issue is now open for pick up.

Issue summary is provided at the comment https://github.com/topcoder-platform/tc-project-service/issues/332#issuecomment-508647388.

[2019-07-05 07:18] romitgit commented on #332
Please assign to me

[2019-07-05 07:18] PrakashDurlabhji commented on #332
give to me thanks

[2019-07-05 07:19] maxceem commented on #332
Assigned to @romitgit as he was the first one to comment on this.

[2019-07-05 08:44] maxceem commented on #236
This is has been already implemented some time ago in this commit https://github.com/topcoder-platform/tc-project-service/commit/a3190cf3e779271c7a2780585cdba99fec3d7876 via challenge https://www.topcoder.com/challenges/30085188

[2019-07-05 08:44] #236 closed

[2019-07-05 08:47] maxceem opened #334 "Support inviting users by multiple emails"
We should support inviting users by multiple emails.

As we cannot do it with a single call as per another issue https://github.com/topcoder-platform/tc-project-service/issues/246

We should update code and use identity service to retrieve data for several emails. To achieve it we should make requests in parallel in batches with a configured number of possible parallel requests.

[2019-07-05 08:52] maxceem commented on #334
@vikasrohit we use this endpoint to [check](https://github.com/topcoder-platform/tc-project-service/blob/challenge%2F30095006/src/routes/projectMemberInvites/create.js#L83) if the user which we are inviting be email is an existent user or no.

What do you think we should do if one of the requests fails?

Should we return to the client that invitation for the particular email failed? Or should we p

[2019-07-05 09:42] maxceem commented on #301
I cannot say what would be the sufficient value for this, just when I scroll project listing it feels to long for me, though I'm not sure also how long the client-side rendering takes for it. I've checked what are the numbers for me, as we are doing two requests per one endpoint, getting data from 1 endpoint takes 1 second for me:

![image](https://user-images.githubusercontent.com/146016/60712782

[2019-07-05 10:11] vikasrohit commented on #334
@maxceem the identity end point is the source of truth for us for validating the existence of a user, so it should not return 404 for an existent user in any case. However, for the worst case scenario, we should treat such cases as new users instead of not failing the invite.

[2019-07-05 10:26] maxceem commented on #334
@vikasrohit my main concern is timeout issues. There is a chance that identity service would fail to respond within the timeout.

So in such case, we are not sure if such a user exists or no.

[2019-07-05 10:32] r0hit-gupta commented on #314
@maxceem @vikasrohit currently the code ignores the templateId and returns a status of 200 even if we send a different template Id. What should be done for the tests?

[2019-07-05 10:38] maxceem commented on #314
@r0hit-gupta validate inside tests that the value of `templateId` is not updated, even though we try to update it in the request body.

[2019-07-05 11:40] r0hit-gupta commented on #314
PR #335

[2019-07-05 12:51] vikasrohit commented on #334
Let see how this goes. Anyway we would have the number of parallel requests configurable, so we can tweak it so that we have very less chances of timeouts. And if it turns out that it is no better than single call at at time, we would have no option than to go for member api instead.

[2019-07-05 17:18] vikasrohit commented on #294
Logic seems good to me. However, what troubles we can get in if simply allow such milestones to be paused after first status update i.e. after first creation of status history record.

[2019-07-06 02:39] romitgit commented on #332
@maxceem please unassign as I'm not able to finish this.

[2019-07-06 03:17] maxceem commented on #332
Thanks for update @romitgit. This issue is now open for pick up.

[2019-07-06 03:19] maxceem commented on #323
Hi @r0hit-gupta, please, let me know if you are working on it, or I'll open it for everyone to pick up.

[2019-07-06 03:20] mfikria commented on #332
@maxceem is this issue open for public? If yes I want to work on this

[2019-07-06 03:20] maxceem commented on #332
Yes, @mfikria, it's a part of Bug Bash https://www.topcoder.com/challenges/30095031. Assigned you.

[2019-07-06 03:35] maxceem commented on #294
There would be only one thing I can see.

In the new projects, all the milestones would have a `pause` button.
But in old projects, some milestones would not have a `pause` button, because we didn't change their status yet, and some milestones would have it as soon as we updated the status of milestones. This may be confusing for users, why some milestones have the `pause` button, while others don

[2019-07-06 03:44] r0hit-gupta commented on #323
Unable to solve. Please open it up for others.

[2019-07-06 07:52] maxceem commented on #323
Thank you for update @r0hit-gupta .

This issue is now open for pick up.

[2019-07-06 11:56] gurmeetb commented on #323
@maxceem let me give a try, please assign me.

[2019-07-06 11:58] maxceem commented on #323
Assigned @gurmeetb

[2019-07-06 11:59] gurmeetb commented on #323
Thanks @maxceem - can you also plz give me access to repo, not able to clone it?

`Please make sure you have the correct access rights and the repository exists.`

[2019-07-06 12:00] maxceem commented on #323
The repo is public. How do you clone it?
Try using the HTTPS link https://github.com/topcoder-platform/tc-project-service.git

[2019-07-06 12:02] gurmeetb commented on #323
Kindly ignore, this was my bad, was using wrong rsa/pwd combo. Thanks, I am able to clone now.

[2019-07-06 13:51] mfikria commented on #332
I've made a PR in

[2019-07-06 14:08] mfikria commented on #332
@maxceem I've made a PR in https://github.com/topcoder-platform/tc-project-service/pull/336
Note that since the provided token for test in https://github.com/topcoder-platform/tc-project-service/blob/dev/src/tests/util.js limited. I simplify the test case for each endpoints into 3 cases:
- Users with admin roles can do actions even they are not project members
- Users with copilot roles cannot do

[2019-07-06 16:12] maxceem commented on #332
Thanks, @mfikria.

Can we also test a case that a user with `Connect Manager` or `Connect Copilot` Topcoder roles cannot do actions to projects they are not members of?

I'm not sure if the limitations in https://github.com/topcoder-platform/tc-project-service/blob/dev/src/tests/util.js to add such tests.

[2019-07-06 23:54] mfikria commented on #332
@maxceem do we need a jwt token with "no expiration" for test?

[2019-07-07 02:22] maxceem commented on #332
yes, we have them in the https://github.com/topcoder-platform/tc-project-service/blob/dev/src/tests/util.js:
- `Connect Copilot` https://github.com/topcoder-platform/tc-project-service/blob/dev/src/tests/util.js#L20
- `Connect Manager` https://github.com/topcoder-platform/tc-project-service/blob/dev/src/tests/util.js#L24

[2019-07-07 02:27] mfikria commented on #332
@maxceem actually i used those tokens in the unit tests

[2019-07-07 02:30] maxceem commented on #332
Yep so now we have cases:
- Users with copilot roles cannot do actions when they are NOT members
- Users with Project manager roles can do actions if they are members

And would like to also have opposite cases:
- Users with copilot roles CAN do actions when they are members
- Users with Project manager roles CANNOT do actions if they are NOT members

[2019-07-07 02:32] mfikria commented on #332
@maxceem the case "Users with copilot roles CAN do actions when they are members" is not needed since the existing successful unit test using copilot token

[2019-07-07 02:33] maxceem commented on #332
Ok, then only `Users with Project manager roles CANNOT do actions if they are NOT members` if we don't have such test yet.

[2019-07-07 03:28] mfikria commented on #332
@maxceem the PR has been updated.

[2019-07-07 08:17] gurmeetb commented on #323
@maxceem had not been able to setup env still using v8.2.1, please open it up for others.

[2019-07-07 10:08] gets0ul commented on #323
Please assign me.

[2019-07-07 12:45] maxceem commented on #323
Thank you for letting me know @gurmeetb.

Assigned to you @gets0ul.

[2019-07-07 17:02] gets0ul commented on #323
PR: https://github.com/topcoder-platform/tc-project-service/pull/337

Videos:
Create timeline
https://drive.google.com/file/d/1_RXlvfLyHQQADedNSBywtN7DH8WhtP2O/view?usp=sharing

Update milestone
https://drive.google.com/file/d/10ZushV7bs3iz0K-CkWw59ebJhlxYjuv_/view?usp=sharing

[2019-07-08 06:07] vikasrohit commented on #294
Okay. I think that case would still be there for old milestones where the `createdAt` dates differ for milestone and statusHistory records.

I think we can leave this behaviour as is i.e. don't touch old milestones at all and let the pause button visible to the users after the first status update of the milestone. if it turns out that it is confusing to the user, we may add record, on adhoc basis,

[2019-07-08 09:10] maxceem commented on #314
@r0hit-gupta I've reviewed your PR, please have a look https://github.com/topcoder-platform/tc-project-service/pull/335#pullrequestreview-258774305

[2019-07-08 09:11] maxceem commented on #234
@romitgit I've reviewed your PR, please have a look https://github.com/topcoder-platform/tc-project-service/pull/330#pullrequestreview-258769150

[2019-07-08 09:36] maxceem commented on #323
@vikasrohit FYI transactions work good without defining them explicitly. So we remove any usage of explicit transactions in the PR https://github.com/topcoder-platform/tc-project-service/pull/337 and it could be merged later together with other CF tasks.

[2019-07-08 11:17] r0hit-gupta commented on #314
Feedback addressed. Please review.

[2019-07-09 05:40] maxceem commented on #334
@vikasrohit this is done via PR https://github.com/topcoder-platform/tc-project-service/pull/340

[2019-07-10 06:49] vikasrohit commented on #301
Thanks for the insights @maxceem Yep, it seems like the actual ES is not the cause. May be it is the routing that is taking place for your requests that is causing more delays than what I am expecting here.
Lets not do any change for now as we are quite overloaded with other high priority stuff. We will revisit it later in future when we see the slowness of the page by more users.
Parking it in Ba

[2019-07-11 03:41] maxceem commented on #314
Hi @r0hit-gupta, please let me know your Topcoder handle to process the payment for this issue.

Thanks.

[2019-07-11 05:37] romitgit commented on #234
@maxceem I have made the changes and here is the pull request https://github.com/topcoder-platform/tc-project-service/pull/341

[2019-07-11 06:02] maxceem commented on #234
Thank you @romitgit I'll check it out.

[2019-07-11 08:04] r0hit-gupta commented on #314
Its [rohitgupta_](https://www.topcoder.com/members/rohitgupta_)

[2019-07-11 08:55] vikasrohit commented on #271
Moving to backlog as we might not need to restrict the number of milestones per timeline as new designs.

[2019-07-12 04:52] maxceem commented on #234
@romitgit I've checked your new PR, please have a look on the review https://github.com/topcoder-platform/tc-project-service/pull/341#pullrequestreview-261054298

[2019-07-15 04:38] romitgit commented on #234
@maxceem  I have made the changes, please review.

[2019-07-16 04:19] romitgit commented on #234
@maxceem I am done with the changes. Please review

[2019-07-16 04:21] maxceem commented on #316
@vikasrohit in the previous [comment](https://github.com/topcoder-platform/tc-project-service/issues/316#issuecomment-507152219) you've concluded the algorithm of calculating `project_estimations_items` using a combination of `project_settings` and `building_blocks`. I'd like to make sure I've got it right and clarify a few edge-cases:

Imagine we have the next possible price types:
- `fee`
- `com

[2019-07-16 07:08] vikasrohit commented on #316
1. Yep, in general you got the idea correct.

2. My original idea was to always make sure that price break up totals to the total price of the building block if `privateConfig` is provided. However, I am kind of liking the approach you are suggesting in 4 by mixing the strategies.

3. We always would make sure that the config we have in `project_settings` would be correct for ALL building blocks w

[2019-07-16 07:22] vikasrohit commented on #334
Verified in dev, closing.

[2019-07-16 07:22] #334 closed

[2019-07-16 08:06] maxceem commented on #316
Thanks for clarifications @vikasrohit

1. Just to confirm:

   So having at least one `project_settings` with key `markup_<some_price_type>` should trigger recalculation for ALL building blocks event if they have `privateConfig` and even if particular `buildingBlock` doesn't have that particular `markup_<some_price_type>` in its `privateConfig`.

   Example.
   We have `buildingBlocks` and don't h

[2019-07-16 09:12] vikasrohit commented on #316
1. Correct

2. Makes sense

3. One problem with having separate endpoint for recalculation is that `markupUsed` field in table `project_estimations_items` would point to a project setting which can not be treated as source of truth for determining the project estimations. Also, I would like to keep the behaviour consistent for all endpoints in terms of when and how they cause the recalculation of

[2019-07-17 03:49] maxceem opened #346 "General permission methods"
During working on the Workstreams we had to check permissions based on `allowRule` and `denyRule` as was described in this comment https://github.com/topcoder-platform/tc-project-service/issues/315#issuecomment-503396151. And it was implemented during the challenge in [workManagementForTemplate](https://github.com/topcoder-platform/tc-project-service/pull/342/files#diff-b4c12893f152cab9852018540be

[2019-07-18 05:10] maxceem commented on #234
In the provided PR more cases have been fixed, than initially required in the issue description. So the prize for this issue has been raised to $120.
The next cases are handled:
- returns errors when we invite already a member by email
- returns errors when we invite already a member by userId
- returns errors when we invite already invited by email
- returns errors when we invite already invited

[2019-07-18 06:27] maxceem commented on #316
@vikasrohit would like to confirm the approach to deal with soft-delete and unique keys for this task.

1. **ProjectSettings** model should have `key + projectId` unique, while we gonna use soft-delete.

    Should we let users create new ProjectSettings with deleted keys and make the unique constrains to `key + projectId + deletedAt + deletedBy`? Or no?

2. **BuildingBlock** model should have uni

[2019-07-18 08:58] maxceem commented on #316
And one more question @vikasrohit

As we can calculate **ProjectEstimationItem** using either **ProjectSettings** or **BuildingBlocks**. Should we replace `markupUsed` field in **ProjectEstimationItem** model with two:
- `markupUsedReference`
- `markupUsedReferenceId`
So we can reference either  **ProjectSettings** or **BuildingBlocks**.

[2019-07-18 09:41] vikasrohit commented on #316
1. No, we should just let them know that there exists(deleted or undeleted) some setting with the same key for same project.

2. No, we should follow the same behaviour for soft deleted items. `key` is uniquely identifying a building block, so we should not allow new record with same key even if it is soft-deleted. We can always do it after hard delete of such keys manually.

btw, I was thinking i

[2019-07-19 05:56] maxceem commented on #315
@vikasrohit during testing of Workstreams model I've discovered that one thing which maybe we can revise a little bit.

Actions for some endpoints we control by getting permission records for particular templates from  `work_management_permissions`. So until we create these permission records in the `work_management_permissions` we cannot to do some actions. And this should be done for every proje

[2019-07-22 06:58] vikasrohit commented on #315
I would like to have that explicitly. I mean, we should be consciously making either API calls or run SQL scripts to enable the work management for a particular template. We might add this feature in the meta data management UI in future.

For now, are you suggesting to add default permissions to admin by a script or by having a exception code block which allows admin for every operation?

[2019-07-22 07:10] maxceem commented on #315
I wasn't sure about the approach here, just noticed that testing this functionality is quite tedious and time-consuming.

As per your input, I guess we can create some helper CLI script or API endpoint which we can use to add some default permissions to some particular template. So we can use at least during development. Or maybe even for production later.

Which way would you prefer?

[2019-07-22 07:17] vikasrohit commented on #315
I would like to go for API endpoint instead of CLI script.

However, I think the easiest solution for us is to have exception in code for admins as we are doing at many other places in our code.

[2019-07-23 07:49] maxceem commented on #316
@vikasrohit in the PR https://github.com/topcoder-platform/tc-project-service/pull/342#discussion_r305673909 you've mentioned:

During working on this task we would introduce 3 new models with endpoints. Though so far we don't store them in ES. Should we change it and store them in ES? Or if we don't store data in ES, then that requirement of the API v5 doesn't apply for such endpoints?

[2019-07-23 09:05] vikasrohit commented on #314
Released.

[2019-07-23 09:05] #314 closed

[2019-07-23 09:05] vikasrohit commented on #323
Released

[2019-07-23 09:05] #323 closed

[2019-07-23 09:06] #234 closed

[2019-07-23 09:10] vikasrohit commented on #197
I guess, even for admins, we don't need `metadata` endpoint to return hidden templates.

May be we can show a warning on top of the project or near the submit button, which is shown only for admins and for `disabled`  templates only.

[2019-07-23 09:13] vikasrohit commented on #294
Released.

[2019-07-23 09:13] #294 closed

[2019-07-23 09:37] vikasrohit commented on #316
We should store all data in ES as per v5 standards. So, it would be good to have every new model indexed in ES and return from ES for all READ operations.

[2019-07-24 05:58] vikasrohit opened #351 "[Scope Change Workflow] Update UI to allow users to update project for non scope affecting fields"
As per our changes done via https://github.com/appirio-tech/connect-app/pull/3193, we are going to show the option of submitting a change request whenever project is moved to `reviewed` or above statuses which prevents users from updating project's other details e.g. name, ref code etc in those statuses. We need to come up with a way to allow such updates even if the project in status which does n

[2019-07-25 07:26] maxceem opened #352 "Fix seedMetadata script"
Current versions of [seedMetadata](https://github.com/topcoder-platform/tc-project-service/blob/dev/local/seed/seedMetadata.js) has very naive logic.

It gets all the metadata objects from the DEV API, and call requests to the local API to create the same objects. Such logic doesn't take into account that various objects inside metadata may refer to other objects by `id` or `version`. When we crea

[2019-07-26 06:02] vikasrohit commented on #352
I think 2 is better. btw, when we are on the same topic, did you ever found situation where you accidentally called the dev's api as target? I have seen a case from one user in dev who was admin and he called the dev's api in local setup by following our README, which caused duplicate records in dev.

[2019-07-26 06:17] maxceem commented on #352
In the seed script, the URL is hardcoded to use the local setup of Project Service https://github.com/topcoder-platform/tc-project-service/blob/dev/local/seed/index.js#L4.

Though I guess I know how it possibly could happen. If local setup is configured to use DB from the DEV environment instead of the local environment (from docker).

So I think what we can do here is to check in the seed script

[2019-07-30 05:47] vikasrohit commented on #351
Closing this as we have another [issue](https://github.com/appirio-tech/connect-app/issues/3227) in correct repo.

[2019-07-30 05:47] #351 closed

[2019-07-30 06:27] vikasrohit commented on #352
To confirm, that can happen only if the user changes the URL in https://github.com/topcoder-platform/tc-project-service/blob/dev/local/seed/index.js#L4, right? Just want to make sure that it can not happen just by setting wrong env variables.

[2019-07-30 06:58] maxceem commented on #352
I think it can happen by settings wrong env variables. We have a mapping between configs and env variables https://github.com/topcoder-platform/tc-project-service/blob/feature/price-estimation-items/project-settings/config/custom-environment-variables.json#L26-L29

So we can override values in configs with env variables.

[2019-07-31 05:00] maxceem commented on #332
@vikasrohit this issue has been fixed and deployed with the release 2.4.13.

[2019-07-31 05:06] maxceem commented on #315
@vikasrohit I've just realized that apart from the ability to create permissions, we should have the ability to edit them. So probably we should create the whole set of endpoints to manage `workManagementPermission`.

Note, as a temporary solution to continue running challenges I've created a fallback so if there is not permission defined, we use default permission and all topcoder managers can do

[2019-07-31 05:11] maxceem opened #357 "[Workstreams] create topics for works"
This is part of https://github.com/topcoder-platform/tc-project-service/issues/315

Currently, for works we create only one topic with tag like "phase#1231". Instead for works, we should create two topics, with tags like "work#1234-details" and "work#1234-requirements".

[2019-07-31 05:21] maxceem opened #358 "[Workstreams] remove support for creating phases for new projects"
This is part of #315

For the purpose of easy development purposes currently I've updated project create endpoint so it can create projects with phases (old) or workstreams (new) depend on the project template `phases`/`planConfg`.

So if the `planConfg` has property, `workstreamsConfig` we create workstreams for the project.
Otherwise, we use our old way and create phases.

@vikasrohit I'd like t

[2019-07-31 05:23] maxceem opened #359 "[Workstreams] update project upgrade script to support creating workstreams instead of phases"
This is part of #315

This ticket should be handled after we agree on the requirements and implement https://github.com/topcoder-platform/tc-project-service/issues/358.

So when we know how we create new projects, we also should update the [projectUpgrade](https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/projectUpgrade/create.js) script to migrate old project to new proj

[2019-07-31 07:18] #332 closed

[2019-07-31 07:34] vikasrohit commented on #315
I think the default permission is the only way to save some time for us right now. We should not waste our time in this release for developing the permissions APIs and may UI for it, unless we are blocked without implementing it.

[2019-07-31 08:44] vikasrohit commented on #357
@maxceem I am thinking of doing this by consuming the bus event of project creation. And as per new v5 standards, we are creating separate processors for any work that is done by consuming events from bus e.g. https://github.com/topcoder-platform/project-processor-es. Do you think we can write yet another processor for any event based operations which we need to perform within project service. I m

[2019-07-31 08:56] vikasrohit commented on #358
Otherwise, we use our old way and create phases.

Yes. That was my intent as well, however, I am thinking of simple way now. If we have `workstreamsConfig`, create workstreams based on the config, otherwise just leave the project plan empty. Specifically, answering to your quesitons:

1. Yes, it means we won't create any phases on project creation for any project template because we don't want to

[2019-07-31 09:00] vikasrohit commented on #359
This one we can have least priority for now as we don't have much use cases of upgrades as of now. However, with introduction of workstreams, we might get more such requests to upgrade projects with or without phases to projects with workstreams. I am thinking of doing that after the first release as well.

[2019-07-31 09:39] maxceem commented on #357
1.  I think we can do it. The only concern I have is, do you know how fast Bus events are processed in our system? I wonder if it's possible that when we create a new project and go to the project Dashboard, the event is not yet processed, and workstreams with topics are not yet created. This would force the user to reload the page several times and wait until the data is updated.
    We have such

[2019-08-01 11:41] vikasrohit commented on #357
1. Yes, I can understand that situation. And personally, I don't like to depend on BUS events for situations where the user is expecting some results to see on the screen after operation e.g. when a phase is activated, user wants to see the timeline updated immediately and don't want to refresh the page multiple times to see the updated timeline. And theoretically, timeline and project services ar

[2019-08-12 05:07] maxceem commented on #357
Could you please share details of your view why they should be separate microservices? So far I only see the usage of timelines inside Project Service. It seems that splitting them would only make it harder for development as we would have to deploy two separate services instead of one. And I don't see any kind of work which can be done in parallel in Project Service and Timeline Service to benefi

[2019-08-12 06:16] vikasrohit commented on #357
The real world example of having timeline as a separate service is to use it for challenge timeline, if we want to use it. However, that day is very very far in future. But still, I would like to keep things decoupled between direct project related operations and timeline operations.
IMO, the only case where we are coupled, with project related code, right now in timeline related code, is to get t

[2019-08-13 07:27] maxceem commented on #357
@vikasrohit regarding creating topics client-side I came into one downside:
1. When we are creating a topic client-side it would be created using the current user. So we login as `pshah_manager` and create a work and topic for it client-side than topic would be created by user `pshah_manager`.
2. We should keep the consistency between the topic and work. So every time we rename Work we should rena

[2019-08-13 10:31] vikasrohit commented on #357
I think as of now we have only option to do it server side. We can update message service to use the same expression evaluator logic for determining the owners of the topic instead of alway relying on the `userId` field of the topic. I think problem in doing that is right now we are creating phase/work topics with `reference` being `project` which is same as of normal discussion topics of the proj

[2019-08-16 04:33] maxceem opened #366 "Cannot change project status"
When I'm trying to change project status from `active` to `draft` I'm getting the error `["Scope changes are not allowed for 'active' project"]`.

Request:

![image](https://user-images.githubusercontent.com/146016/63143598-ac60f580-c021-11e9-8ecb-24acc358e66a.png)

Response:

![image](https://user-images.githubusercontent.com/146016/63143623-d0bcd200-c021-11e9-9493-67e9206e4e14.png)

If it's not

[2019-08-16 05:07] vikasrohit commented on #366
Good catch @maxceem. As of now, we don't have any constraint on project status movement except moving from a completed or cancelled project and don't letting activation of project without having at least one phase in review status. Also, the logic I placed for scope changes validation, should allow all project fields to be updated which are not listed in `scopeChangeFields` property of the templat

[2019-08-19 10:11] maxceem opened #371 "Add unit tests for the functionality triggered by RabbitMQ events"
Recently, we implemented unit tests for checking that topics are created correctly for phases and works, see PR https://github.com/topcoder-platform/tc-project-service/pull/369.

This required us to setup RabbitMQ service inside unit tests and also configure CircleCI.

Now, we can use the same approach for creating unit tests for other functionality which is triggered by RabbitMQ events. As before

[2019-08-21 05:13] maxceem commented on #357
Now, when creating topics for works is implemented, we can think about what should be the first initial post on the **Details** and **Requirements** tabs. For now,  I defined the same initial post as for phases:

#### Details tab

![image](https://user-images.githubusercontent.com/146016/63404282-31c71a00-c415-11e9-94e0-3021a3be72cd.png)

#### Requirements tab

![image](https://user-images.githubu

[2019-08-21 05:46] vikasrohit commented on #357
Sounds good for now. Do you think is it possible for us to just create a topic without any post?

[2019-08-21 05:51] maxceem commented on #357
No. Message Service always creates a post when we creating a topic https://github.com/appirio-tech/tc-message-service/blob/hotfix/creator-permissions/app/routes/topics/create.js#L68.

[2019-08-21 05:54] vikasrohit commented on #357
Yep, recalled now. I think we might need to hide the default post some time in future, but that depends on the user feedback. If that happens, we can hide the first post from UI itself, so I think we are good.

[2019-08-23 06:14] maxceem opened #375 "Validate Project Settings values"
We implemented a ProjectSettings model with CRUD endpoints.

Currently, we support the next values types:
[code]

We should validate values when we create/update records, based on their types:
[code]

[2019-08-23 06:18] vikasrohit commented on #346
Agreed with all the points and plan to improve permissions overall. I have suggestion for specifying the permission rule for user being a project member without being too wordy. We can have a constant `PROJECT_MEMBER_ROLES` and populate it with all possible member roles once and then use this constants in the permission configuration.

[2019-08-23 06:22] maxceem commented on #346
You mean instead of [suggested](https://github.com/topcoder-platform/tc-project-service/commit/5a2070dec06249efe9a76ea3b94c4496700be3db#diff-c5e4a6f179e879e027c003a8daaf5f79R13) `ROLES_PROJECT_MEMBERS ` use `PROJECT_MEMBER_ROLES `?

[2019-08-23 06:44] vikasrohit commented on #346
No, I meant:
we have all project member roles listed [here](https://github.com/topcoder-platform/tc-project-service/blob/5a2070dec06249efe9a76ea3b94c4496700be3db/src/constants.js#L16) so we can create our permissions as follows:
[code]
So, we don't need any new config field for saying all project members and we don't have to specify/update the project member roles every where.

[2019-08-23 07:02] maxceem commented on #346
Got you. The reason for such option like `projectRoles: true` is that we can specify permissions not only in the code config file, but also in the DB records.

We already have several places where we specify permissions inside DB:
- ProjectService.writePermission
- ProjectService.readPermission
- WorkManagmentPermission.permission

So if define inside DB value as:
[code]

Later, if we add a new pr

[2019-08-24 04:41] maxceem commented on #357
PR for this issue has been merged to `dev` https://github.com/topcoder-platform/tc-project-service/pull/369

[2019-08-24 04:41] #357 closed

[2019-08-26 11:21] vikasrohit commented on #316
Marking close as changes are deployed to dev and env and smoke testing works fine:
Able to create project estimation items based on `privateConfig` from the `building_blocks` table. And later on able to recalculate the estimation items when create project settings for the created project.

[2019-08-26 11:21] #316 closed

[2019-08-26 11:33] vikasrohit commented on #315
@maxceem can we close this one now?

[2019-08-26 13:33] maxceem commented on #315
yes, totally.

[2019-08-26 14:43] #315 closed

[2019-08-27 07:37] maxceem opened #376 "Timeline is not updated in ES"
It looks like timeline is not updated in ES after we update milestones.

For example:
- create timeline without `endDate`
- create a milestone
- update milestone to trigger setting `endDate` for timeline here https://github.com/topcoder-platform/tc-project-service/blob/dev/src/routes/milestones/update.js#L301
- now retrieve the timeline using two ways:
   - https://api.topcoder-dev.com/v4/timeline

[2019-08-27 07:40] maxceem commented on #376
Also, I've noticed that sometimes some other data in milestones is not updated inside timeline from ES. But don't have steps to reproduce.